# Understanding Passenger

<p class="lead">We give you a basic understanding of what Passenger is. We also explain how Passenger fits in the stack and how it compares to other software that you may use.</p>

**Table of contents**

<ol class="toc-container"></ol>

## In a nutshell

Phusion Passenger is an open source **web application server**. It handles HTTP requests, manages processes and resources, and enables administration, monitoring and problem diagnosis.

Passenger is very easy to use, makes deploying in production much easier and is scalable. If you aren't already familiar with the benefits, you can [learn more about them](https://www.phusionpassenger.com/#about).

Passenger supports [multiple programming languages](<%= url_for "/walkthroughs/basics/" %>), of which <%= language_name %> is one. Passenger can also serve multiple applications at the same time (it is multitenant).

### The "application server" concept

Node.js applications are normally responsible for their services from the ground-up. You literally ran the application, which would for example import support libraries for handling HTTP requests, spawning subprocesses of itself, etc.

<figure><img src="../nodejs_or_iojs/traditional_nodejs.png"></figure>

As an application server, Passenger reverses this relationship. The application server runs the application. Services are provided to the application "for free". The reverse port binding mechanism is an example of this reversed relationship at work.

<figure><img src="../nodejs_or_iojs/app_server_concept.png"></figure>

## How Passenger fits in the stack

When you deploy your web app to production, there are all sorts of components involved. You may have heard of PM2, Forever, Nginx and Cluster. Passenger replaces some components, while collaborating with other components.

In a typical production stack, one would use Nginx as the web server and Passenger as the application server. Passenger integrates with Nginx and manages the application and its resources.

<figure>
  <img src="../nodejs_or_iojs/passenger_node_architecture.png">
  <figcaption>Passenger integrates with Nginx and manages the app's processes and resources.</figcaption>
</figure>

### A holistic approach

If you have deployed a <%= language_name %> app to production before, then you may know that it involves glueing a bunch of different tools together:

 * Nginx as a reverse proxy.
 * Forever/PM2 to keep your app running and to manage your app's processes.
 * An init script to start your app at boot.
 * The Cluster module for multi-core usage.

We dislike having so many moving parts, so Passenger takes more of a holistic approach to the problem. As an application server, Passenger is conceptually like Nginx, Forever/PM2, the init script and the cluster module combined in a single, lightweight, easy-to-use package. Instead needing you to glue different tools together, Passenger takes care of the "gluing together" for you.

The holistic approach saves time and effort.

### Nginx

Nginx is a web server. It provides HTTP transaction handling and serves static files. However, it cannot manage <%= language_name %> apps by itself.

It is a good idea to put <%= language_name %> behind an Nginx reverse proxy, because Nginx is better than <%= language_name %> at handling HTTP requests in a secure manner.

However, connecting <%= language_name %> with an Nginx reverse proxy involves redundant work riddled with boilerplate code. Passenger takes care of this automatically and saves you time and effort.

### Vs PM2 and Forever

PM2 and Forever are tools for keeping <%= language_name %> apps running. If an app crashes, PM2 and Forever can restart the app.

Passenger replaces PM2 and Forever because Passenger provides their functionality. Where PM2 and Forever have to be setup separately, Passenger provides the functionality builtin, saving time and effort.

Passenger also provides features not found in PM2 and Forever, such as adjusting the number of processes dynamically based on traffic, and better load balancing (see "Vs Cluster module" to learn more about this).

### Vs Cluster module

The <%= language_name %> Cluster module is a library for running <%= language_name %> apps in multiple processes and load balancing traffic between them. Running the app in multiple processes allows better multi-core usage, better performance and better fault-tolerance. The Cluster module requires the developer to write some boilerplate code in order to use it.

Passenger replaces the Cluster module. No boilerplate code is required: Passenger can launch your app in multiple processes and load balance traffic automatically, with no code changes most of the time.

Besides this, the biggest advantage that Passenger provides is that it can load balance WebSockets, Socket.IO
and SockJS through the use of sticky sessions. These technologies do not work well with the Cluster module because the Cluster module's load balancing mechanism is generic (and thus cannot implement sticky sessions), while Passenger's mechanism is specifically written for HTTP.

## Multiple integration modes

<%= render_partial("../shared/integration_modes.md", locals: locals) %>

## What Passenger does not do

Passenger does many things, but some things are currently out of scope.

 * **Setting up a server with an operating system**<br>
   Passenger assumes that you already have a server with an working operating system on it. Passenger is not a hosting service. It is software that is to be installed on a server.<br>
   However, the Passenger Library contains excellent [documentation on setting up a server](../../deploy/<%= language_type %>/).
 * **Installing <%= language_name %>**<br>
   To run <%= language_name %> apps on Passenger, you must already have <%= language_name %> installed. Passenger does not do that for you. Passenger does not care how you install <%= language_name %> though; you sometimes just need to tell Passenger where <%= language_name %> is.<br>
   However, the Passenger Library contains excellent [documentation on setting up a server](../../deploy/<%= language_type %>/).
 * **Transferring the application code and files to the server**<br>
   Passenger does not transfer the application code and files to the server for you. To do this, you must use tools like Git, scp, FTP, Capistrano, Fabric, etc. Passenger assumes that the application code and files are already on the server, and does not care which tool you use to make that so.
 * **Installing application dependencies**<br>
   Passenger does not install your application's dependencies for you.
 * **Managing the database**<br>
   If your application requires a database, then Passenger does not install that database for you, nor does it sets up database accounts and tables for you. They must already be set up by the time you deploy your application to Passenger.

## Next step

You now have a solid understanding of Passenger's fundamental concepts. Let us go through installing Passenger next.

<a href="installation.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
