<p class="lead">Phusion Passenger manages multiple processes in order to maximize stability and performance. Learn how Passenger manages processes and learn about Passenger's process management tools.</p>

**Table of contents**

<ol class="toc-container"><li>Loading...</li></ol>

## Introduction

<%= render_partial("../shared/process_management/intro.md", locals: locals) %>

## Working with a single process

<%= render_partial("../shared/process_management/single_process.md", locals: locals) %>

## Working with multiple processes

### Seeing it in action

<%= render_partial("../shared/process_management/multi_process_in_action.md", locals: locals) %>

### Processes are supervised

<%= render_partial("../shared/process_management/supervision.md", locals: locals) %>

### Traffic is load balanced

<%= render_partial("../shared/process_management/load_balance.md", locals: locals) %>

### Processes are dynamically scaled

<%= render_partial("../shared/process_management/process_scaling.md", locals: locals) %>

## Next step

<%= render_partial("../shared/process_management/conclusion.md", locals: locals) %>

<a href="reloading_code.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
