### 1 Check the Passenger log file

One of the first things you should do upon encountering a problem, is to check [the Passenger log file](<%= url_for "/admin/#{integration_mode_type}/log_file/index.html" %>). The log file is where Passenger prints to when it encounters a problem or when it wants to tell you something.

This log file contains:

 * Passenger info, warning and error messages.
 * Everything that the application writes to STDOUT and STDERR. This typically consists of errors that the application encounters during startup, but not errors that it encounters when it's handling requests.

<% if integration_mode_type == :nginx %>
  <p>
    The Passenger log file is the <strong>global</strong> Nginx error log file. This is one specified by the <code>error_log</code> directive in the main context (that is, <strong>not</strong> the one inside the <code>http</code> context). The file is typically located in <code>/var/log/nginx/error.log</code>.
  </p>
  <p>
    Or, if you configured the <a href="<%= url_for "/config/nginx/reference/index.html" %>#passenger_log_file">passenger_log_file</a> directive, then the log file is in the referenced file.
  </p>
<% elsif integration_mode_type == :apache %>
  <p>
    The Passenger log file is the <strong>global</strong> (not the per-vhost) Apache error log file. This is typically located in <code>/var/log/apache2/error_log</code>.
  </p>
  <p>
    You can find out the exact location of the error log by running <code>passenger-config --detect-apache2</code>.
  </p>
  <p>
    Or, if you configured the <a href="<%= url_for "/config/apache/reference/index.html" %>#passengerlogfile">PassengerLogFile</a> directive, then the log file is in the referenced file.
  </p>
<% else %>
  <p>
    The default log file is located in <code>log/passenger.XXX.log</code>, where <code>XXX</code> is the port number that Passenger listens on.
  </p>
  <p>
    Or, if you passed the <a href="<%= url_for "/config/standalone/reference/index.html" %>#--log-file-log_file"><code>--log-file</code> / "log_file"</a> configuration, then the log file is in the referenced file.
  </p>
<% end %>

<div class="note">
  Not finding anything useful in the Passenger error log? Please read <a href="<%= url_for "/admin/#{integration_mode_type}/log_file/index.html" %>#troubleshooting-logging-problems">Troubleshooting logging problems.</a>
</div>

### 2 Check the application log file

The application or web framework may have its own log file that is independent from the Passenger log file. You should also check that file to see whether your application or web framework has logged any important messages.

<% if language_type == :ruby %>
For example, Ruby on Rails logs to `log/development.log` and `log/production.log`. When an error occurs during request handling, it is typically logged here. Note that this file does **not** contain errors that Rails encounters during startup -- those kinds of errors are typically written to STDERR, which means they end up in the Passenger log instead.
<% end %>

<% if integration_mode_type == :nginx || integration_mode_type == :apache %>
Note that Passenger runs applications in the "production" environment by default (that is, Passenger sets `RAILS_ENV`, `RACK_ENV`, `NODE_ENV` and related environment variables "production"). So if you're using Rails, please be sure to check `production.log` instead of `development.log`.
<% end %>

### 3 Upgrade Passenger to the latest version

Some problems are caused by bugs in Passenger. Passenger is under active maintenance and development, so there is a chance that -- assuming you really ran into a bug -- the bug is already fixed. Please [upgrade Passenger to the latest version](<%= url_for "/install/#{integration_mode_type}/upgrade/index.html" %>) and check whether the problem is still there.

If you suspect that your problem is a bug in Passenger, and upgrading didn't fix it, please [report the bug to our Github issue tracker](https://github.com/phusion/passenger).

If upgrading Passenger didn't help, and you don't think your problem is caused by a bug, then please continue with this troubleshooting guide.

### 4 Consult the in-depth topics

Passenger takes care of a lot of things for you under the hood. If you don't know what Passenger does, then problems may seem opaque. Try [learning more about the activities that Passenger perform](<%= url_for "/indepth/index.html" %>); it may help you with understanding the problem and with troubleshooting.

### 5 Out of ideas? Try the support resources

<%= render_partial("/walkthroughs/basics/shared/support.md", locals: { context: :troubleshooting_guide }) %>
