---
section: admin
---
<%
@page_title = "Troubleshooting - #{integration_mode_name} and #{language_name}"
content_for(:sidebar) do
  render_partial("../sidebar.html", locals: locals.merge(
    context: :index,
    limit_choices: { "lang" => [LANG_RUBY, LANG_PYTHON, LANG_NODEJS, LANG_METEOR] }
  ))
end
%>

<h1>Troubleshooting Passenger <%= integration_mode_name_as_passenger_suffix %> and <%= language_name %></h1>

<p class="lead">This page provides guidence on what to do when you encounter problems.</p>

**Table of contents**

<ul class="toc-container"><li>Loading...</li></ul>

## First things to try

<%= render_partial("golden_tips.md", locals: locals) %>

## Common problems

<%= render_partial("common_problems.md", locals: locals) %>
<% if integration_mode_type == :nginx %>
  <%= render_partial("nginx.md", locals: locals) %>
<% elsif integration_mode_type == :apache %>
  <%= render_partial("apache.md", locals: locals) %>
<% else %>
  <%= render_partial("standalone.md", locals: locals) %>
<% end %>

<% if language_type == :ruby %>
  <h2>Common problems specific to Ruby</h2>
  <%= render_partial("ruby.md", locals: locals) %>

  <h2>Common problems specific to Ruby on Rails</h2>
  <%= render_partial("ruby_on_rails.md", locals: locals) %>
<% elsif language_type == :nodejs %>
  <h2>Common problems specific to Node.js</h2>
  <%= render_partial("nodejs.md", locals: locals) %>
<% end %>
