---
section: config
---
<%
@page_title = "Configuration and optimization - #{integration_mode_name}"
content_for(:sidebar) { render_partial("sidebar.html", locals: locals.merge(context: :index)) }
%>

<h1>Configuration and optimization<br>
<small>in <%= integration_mode_name %> mode</small></h1>

<div class="row">
  <div class="col-md-6">
    <h3>Basics</h3>

    <ul class="list-unstyled list-links">
      <li><a href="intro.html">Introduction to configuring Passenger</a></li>
      <li><a href="reference/">Configuration reference</a></li>
      <li><a href="dynamic_scaling_vs_fixed_app_processes/">Dynamic scaling of application processes vs fixed process pool</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Advanced</h3>

    <ul class="list-unstyled list-links">
      <li><a href="optimization/">Optimization</a></li>
      <li><a href="tuning_sse_and_websockets/">Tuning for Server Sent Events and WebSockets</a></li>
      <li><a href="cloud_licensing_configuration/">Passenger Enterprise cloud licensing configuration</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Ruby-specific</h3>

    <ul class="list-unstyled list-links">
      <li><a href="action_cable_integration/">Integrating Action Cable with Passenger</a>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Related guides</h2>
    <ul class="list-unstyled list-links">
      <li><a href="<%= url_for "/deploy/#{integration_mode_type}/user_sandboxing.html" %>">Deployment: Sandboxing apps with Unix user accounts (user switching)</a></li>
      <li><a href="<%= url_for "/deploy/#{integration_mode_type}/deployment_error_resistance.html" %>">Deployment: Deployment error resistance</a></li>
      <li><a href="<%= url_for "/indepth/hooks.html" %>">In-depth: Hooking into Passenger</a></li>
      <li><a href="<%= url_for "/indepth/out_of_band_work/index.html" %>">In-depth: (Ruby) Out-of-band work and garbage collection</a></li>
      <li><a href="<%= url_for "/unionstation/index.html" %>">Union Station: customization</a></li>
    </ul>
  </div>
</div>
