<a href="<%= url_for "/index.html" %>#walkthroughs" class="back-to-previous">&laquo; Back to all walkthroughs</a>

<h2>Basics<br>
<small>for Ruby developers</small></h2>

<ul class="nav nav-stacked">
  <% navbar_subsection :beginning do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/index.html" %>">1 The beginning</a>
  <% end %>
  <% navbar_subsection :fundamental_concepts do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/fundamental_concepts.html" %>">2 Fundamental concepts</a>
  <% end %>
  <% navbar_subsection :installation do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/installation.html" %>">3 Installation</a>
  <% end %>
  <% navbar_subsection :passenger_command do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/passenger_command.html" %>">4 The 'passenger' command</a>
  <% end %>
  <% navbar_subsection :process_management do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/process_management.html" %>">5 Process management</a>
  <% end %>
  <% navbar_subsection :reloading_code do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/reloading_code.html" %>">6 Reloading code</a>
  <% end %>
  <% navbar_subsection :help do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/help.html" %>">7 Help!</a>
  <% end %>
  <% navbar_subsection :conclusion do %>
    <a href="<%= url_for "/walkthroughs/basics/ruby/conclusion.html" %>">8 Summary and conclusion</a>
  <% end %>
</ul>
