<%
locals[:app_name] ||= "testapp"
%>

Passenger automatically scales the number of processes based on traffic. The more traffic, the more processes Passenger spawns, up to the `--max-pool-size` limit. This limit defaults to 6. Passenger also shuts down processes that haven't handled traffic for a while, in order to conserve resources. This is especially useful when you're hosting multiple apps on a server with limited resources.

You can see some of this in action by sending a large number of requests to Passenger, for example using the [wrk](https://github.com/wg/wrk) tool. Run this to open 200 connections to Passenger in 16 threads:

<pre class="highlight"><span class="prompt">$ </span>wrk -t 16 -c 200 http://0.0.0.0:3000/</pre>

If you run `passenger-status` again, you should see many processes:

<pre class="highlight"><%= passenger_command_prefix_html(locals, cd: false) %>passenger-status
<span class="output">Version : 5.0.6
Date    : 2015-04-14 22:05:30 +0100
Instance: 25002
----------- General information -----------
Max pool size : 6
Processes     : 6
Requests in top-level queue : 0

----------- Application groups -----------
/Users/phusion/<%= locals[:app_name] %>#default:
  App root: /Users/phusion/<%= locals[:app_name] %>
  Requests in queue: 0
  * PID: 25015   Sessions: 0       Processed: 84      Uptime: 9s
    CPU: 0%      Memory  : 14M     Last used: 15s ago
  * PID: 25016   Sessions: 0       Processed: 84      Uptime: 9s
    CPU: 0%      Memory  : 14M     Last used: 15s ago
  * PID: 25017   Sessions: 0       Processed: 83      Uptime: 9s
    CPU: 0%      Memory  : 14M     Last used: 15s ago
  * PID: 25018   Sessions: 0       Processed: 83      Uptime: 9s
    CPU: 0%      Memory  : 14M     Last used: 15s ago
  * PID: 25019   Sessions: 0       Processed: 83      Uptime: 9s
    CPU: 0%      Memory  : 14M     Last used: 15s ago
  * PID: 25020   Sessions: 0       Processed: 83      Uptime: 9s
    CPU: 0%      Memory  : 14M     Last used: 15s ago</span></pre>

By default, Passenger shuts down processes that haven't handled traffic for 5 minutes (300 seconds). If you wait 5 minutes and run `passenger-status` again, you should see that only two processes are still alive:

<pre class="highlight"><span class="prompt">$ </span>sleep 300
<%= passenger_command_prefix_html(locals, cd: false) %>passenger-status
<span class="output">Version : 5.0.6
Date    : 2015-04-14 22:05:30 +0100
Instance: 25002
----------- General information -----------
Max pool size : 6
Processes     : 6
Requests in top-level queue : 0

----------- Application groups -----------
/Users/phusion/<%= locals[:app_name] %>#default:
  App root: /Users/phusion/<%= locals[:app_name] %>
  Requests in queue: 0
  * PID: 25015   Sessions: 0       Processed: 84      Uptime: 6m 23s
    CPU: 0%      Memory  : 14M     Last used: 6m 1s ago
  * PID: 25016   Sessions: 0       Processed: 84      Uptime: 6m 23s
    CPU: 0%      Memory  : 14M     Last used: 6m 1s ago</span></pre>
