<% @page_title = "Launching a server on Amazon Web Services - #{edition_title} + #{language_name} deployment walkthrough" %>
# Launching a server on Amazon Web Services

<% spec = deployment_walkthrough_next_step_after_launching_server(locals) %>
On this page, we will launch an Amazon EC2 server and login to that server. If you have already launched a server, then you can [skip to the next page](<%= spec[:url] %>).

<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      <a href="https://console.aws.amazon.com/" target="_blank">Login to your AWS Management Console</a> and choose <em>EC2</em>.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      Click on <em>Launch Instance</em>.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_launch_instance.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_launch_instance.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      You are presented with a wizard in which you can select a machine image (AMI). You are free to choose any Linux/Unix image, but for demonstration purposes let us pick <strong>Ubuntu 14.04 LTS, 64-bit</strong>.
    </p>
    <p>
      Look for Ubuntu 14.04 LTS 64-bit in either the <em>Quick Start</em> or the <em>Community AMIs</em> tab, then click <em>Select</em>.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_ami_ubuntu.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_ami_ubuntu.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      You are asked to choose an instance type, which determines the server's CPU and memory usage. Pick whatever you like, but make sure you have at least 1 GB of RAM, and make sure that you understand the cost implications of selecting bigger instances.
    </p>
    <p>
      For demonstration purposes, let us pick <strong>t2.micro</strong>. Click <em>Next: Configure Instance Details</em> to continue.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_instance_type.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_instance_type.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      You don't have to do anything here. Skip to "Configure Security Group".
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_instance_details.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_instance_details.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      This screen is where you configure the server's firewall. You need to add security rules so that HTTP (and maybe HTTPS too, if your app uses HTTPS) is open. Click <em>Add Rule</em> to add a security rule. When done, click <em>Review and Launch</em>.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_security.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_security.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      You are now asked to review your settings. If you believe everything is OK, then click <em>Launch</em>.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_review.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_review.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      You are now asked to choose a key pair, or (if you don't have one yet) to create one.
    </p>
    <p>
      If this is the first time you create a key pair in this EC2 region, give it whatever name you like, and make sure you download the key pair and store it safely.
    </p>
    <p>
      When you are done, click <em>Launch Instances</em>.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_keypair.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_keypair.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      The AWS Management Console confirms that you have launched the instance. Click on <em>View Instances</em> to continue.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_launch_status.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_launch_status.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      In the instances list, you should be able to see the server that you launched. The next step is to login to the server, so select your server and click <em>Connect</em>.
    </p>
    <p>
      Note that the server may take a few minutes to boot, so the <em>Connect</em> button may not be available yet. Please wait a few minutes and try again.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_instance_list.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_instance_list.png") %>" class="img-thumbnail"></a>
  </div>
</div>
<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      Follow the instructions on screen to login to your server through SSH.
    </p>
  </div>
  <div class="col-md-6">
    <a href="<%= url_for("/walkthroughs/deploy/launch_server/ec2_connect.png") %>" target="_blank"><img src="<%= url_for("/walkthroughs/deploy/launch_server/ec2_connect.png") %>" class="img-thumbnail"></a>
  </div>
</div>

<div class="note">
  <h3 class="notoc">Problems logging in?</h3>
  <p>
    Note that the SSH command may fail with a <em>"Warning: unprotected private key file"</em> error. This is because the permission of your private key file is too open. In that case, you can fix it by restricting the permissions on the key file:
  </p>
  <pre class="highlight"><span class="prompt">$ </span>chmod 600 ~/Downloads/yourkey.pem</pre>
  <p>
    Depending on which AMI you picked, you may also get a "permission denied" error. This is because the connection instructions on some AMIs are wrong. Some AMIs disallow login as "root" and instead want you to login with another username, but didn't edit their connection instructions to tell you that. So if you find that you can't login, try logging in with the username "admin", "ec2-user" or "ubuntu".
  </p>
</div>

<div class="row row-instruction">
  <div class="col-md-6">
    <p>
      After following the instructions on the Connect screen, you should be dropped into a shell prompt on your server.
    </p>
  </div>
  <div class="col-md-6">
    <pre class="highlight" style="word-wrap: initial"><span class="prompt">$ </span>ssh -i default.pem ubuntu@52.24.195.216
<span class="output">The authenticity of host '52.24.195.216 (52.24.195.216)' can't be established.
RSA key fingerprint is 2d:d3:68:ca:82:9a:95:b9:34:4c:23:8d:3e:05:95:fe.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added '52.24.195.216' (RSA) to the list of known hosts.
Welcome to Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-48-generic x86_64)</span>

<span class="s">ubuntu@ip-172-31-45-45:~$</span></pre>
  </div>
</div>

## Next step

Congratulations, you have launched a server on Amazon Web Services and successfully logged in to the server!
