<p class="lead">This 5 minute tutorial teaches you to start your application in a Phusion Passenger server, in development mode. Feel what Passenger is and how it works.</p>

<small>Are you looking to deploy your app to production with Passenger, maybe in combination with Nginx or Apache? Take a look at the <a href="<%= url_for "/walkthroughs/deploy/#{type}/index.html" %>">deployment walkthrough</a>.</small>

**Table of contents**

<ol class="toc-container"><li>Loading...</li></ol>

## What is Passenger?

<%= render_partial("_what_is_passenger.md", locals: { language_type: type }) %>

## Install Passenger

<%= render_partial("_install.html") %>

## Preparing the example application

In this tutorial we will use [an example "hello world" application](https://github.com/phusion/passenger-nodejs-connect-demo), utilizing [Connect.js](https://github.com/senchalabs/connect):

<pre class="highlight"><span class="prompt">$ </span>git clone https://github.com/phusion/passenger-nodejs-connect-demo.git
<span class="prompt">$ </span>cd passenger-nodejs-connect-demo
<span class="prompt">$ </span>npm install</pre>

## Running the server

The simplest way to run your app is with the `<%= command %>` command:

<pre class="highlight"><span class="prompt">$ </span>node myapp.js</pre>

Passenger can be used the same way as the `<%= command %>` command: you run your app with `passenger start` and two extra command line options:

<pre class="highlight">
<span class="prompt">$ </span>passenger start --app-type node --startup-file myapp.js
<span class="output">======= Phusion Passenger Standalone web server started =======
PID file: /Users/phusion/myapp/passenger.3000.pid
Log file: /Users/phusion/myapp/passenger.3000.log
Environment: development
Accessible via: http://0.0.0.0:3000/

You can stop Phusion Passenger Standalone by pressing Ctrl-C.
===============================================================</span></pre>

<div class="note">If you run your app with a higher level command like <code>npm start</code>, you can find out what <code>--startup-file</code> to specify by looking at <code>package.json</code>. It should be whatever is behind the <code><%= command %></code> command.</div>

As you can see in the output, Passenger is now serving your app on [http://0.0.0.0:3000/](http://0.0.0.0:3000/). So if you go to that URL, you will should see your application:

<pre class="highlight"><span class="prompt">$ </span>curl http://0.0.0.0:3000/
<span class="output">...your app's front page HTML...</span></pre>

## Passenger is polyglot

Passenger supports apps in multiple programming languages. That's why you need to specify what language you're using.
The `--app-type node` option does just that.

## Reversed port binding

Normally, a Node.js app binds a server socket on a certain port by calling `listen()` on an `http.Server` object. But when run in Passenger, this control is inversed. The user that invokes the `passenger` command specifies what address and port to listen on, and Passenger makes sure your app does so.

Most of the time, reverse port binding just works. But if your app creates multiple http.Server objects, then you will confuse the reserve port binding system, and you'll have to give it some hints.

Reverse port binding will be covered in [Basics part 2: fundamental concepts -> The "application server concept"](../basics/<%= type %>/fundamental_concepts.html#the-application-server-concept) and in the [In-depth guide](<%= url_for "/indepth/nodejs/reverse_port_binding.html" %>).

## Logs

Passenger prints its own logs not only to the terminal, but also to a log file. During startup, Passenger tells you what log file it used. This is typically `passenger.XXXX.log`.

There may also be *application* logs, generated either by your app or by the framework you're using. These logs are completely separate from Passenger's own logs. If the application logs are printed to stdout or stderr, then Passenger will display them. Otherwise, it is up to you to manually view application log files, e.g. with the Unix `tail` tool on the corresponding files.

## Stopping the server

If you stop Passenger, Passenger will stop your app.

There are two ways to stop the server. The first is by pressing Ctrl-C in the terminal.

<pre class="highlight">
<span class="prompt">$ </span>passenger start --app-type node --startup-file myapp.js
<span class="output">...
(press Ctrl-C here)
Stopping web server... done!</span>
</pre>

The second way is by starting a seperate terminal, changing the working directory to your application, and running `passenger stop`:

<pre class="highlight"><span class="prompt">$ </span>cd /path-to-your-app
<span class="prompt">$ </span>passenger stop</pre>

## Conclusion

<p class="text-center"><img src="../../images/award.png" alt="Achievement unlocked. Image taken from https://openclipart.org/detail/60109/award-symbol-by-sheikh_tuhin" width="128"></p>

Congratulations! Now that you've passed this tutorial and seen Passenger in action, you may be interested in intermediate-level walkthroughs.

### Next step

You may now be interested in follow-up walkthroughs.

<%= render_partial("next_step.html", locals: { language_type: type }) %>
