<div class="st-injected-content-generated st-install-hAw7oyzHaFA3x2KtoDpk" data-st-install-key="hAw7oyzHaFA3x2KtoDpk" id="st-injected-content" data-swiftype-index="false" style="display: none">
  <div class="st-ui-embed st-search-chrome-overlay-output st-search-escape-hide-outputs st-search-zoom-on-mobile" style="display: block;">

    <div class="st-ui-overlay st-search-hide-outputs"></div>
      <!-- Swiftype input and results overlay -->
      <div class="st-ui-container st-ui-container-overlay  st-ui-injected-overlay-container ">
        <!-- HEADER -->
        <div class="st-ui-container-header_bar st-position-container">
          <section class="st-ui-header">
            <form action="javascript:void(0)">
              <input class="st-default-search-input st-search-set-focus" type="text" value="" placeholder="Search this site" id="st-overlay-search-input" autocomplete="off" autocorrect="off" autocapitalize="off">

              <div class="st-filters">
                <span class="st-filters-label">
                  Filters:
                </span>

                <select class="st-search-integration-mode">
                  <option value="all">All integration modes</option>
                  <% INTEGRATION_MODES.each do |integration_mode_spec| %>
                    <option value="<%= integration_mode_spec[:integration_mode_type] %>"><%= integration_mode_spec[:integration_mode_name] %></option>
                  <% end %>
                </select>
                <select class="st-search-language">
                  <option value="all">All languages</option>
                  <% SUPPORTED_LANGUAGES.each do |language_spec| %>
                    <option value="<%= language_spec[:language_type] %>"><%= language_spec[:language_name] %></option>
                  <% end %>
                </select>
                <select class="st-search-edition">
                  <option value="all">All editions</option>
                  <% PASSENGER_EDITIONS.each do |edition_spec| %>
                    <option value="<%= edition_spec[:edition_type] %>"><%= edition_spec[:edition_long_title] %></option>
                  <% end %>
                </select>
              </div>
            </form>
            <span class="st-ui-search-icon"></span>
            <a class="st-ui-close-button st-search-hide-outputs">Close</a>

            <a class="st-ui-stamp" href="https://swiftype.com" target="_blank">search by swiftype</a>
          </section>
        </div>

        <!-- LEFT SIDEBAR -->
        <div class="st-ui-container-left_sidebar st-position-container">
          <div class="st-ui-injected-search-controls">
          </div>
        </div>

        <!-- RIGHT SIDEBAR -->
        <div class="st-ui-container-right_sidebar st-position-container">
          <div class="st-ui-injected-container-right_sidebar">
            <div class="st-ui-injected-search-controls">
            </div>
          </div>
        </div>

        <!-- PRIMARY CONTENT -->
        <div class="st-ui-container-primary_content st-position-container">
          <section class="st-ui-slide-autocomplete st-autocomplete-keyboard-navigable st-autocomplete-transient-on-select-and-results" data-st-target-element="#st-overlay-search-input" data-st-active-query-class="active" style="display: none;">
            <span class="st-ui-type-heading-small">suggested results</span>
            <div class="st-autocomplete-results"><div class="st-query-present" style="display: block;"></div></div>
          </section>

          <section class="st-ui-content st-search-results">
            <div class="st-query-not-present" style="display: none;">
              <span class="st-ui-fallback"></span>
            </div>
            <div class="st-query-present" style="display: block;">
              <a href="https://www.phusionpassenger.com/library/walkthroughs/start/ruby.html" class="st-ui-result __swiftype_result" data-st-result-doc-id="558b1dff075523771d00172a">
                <span class="st-ui-type-heading"><em>Quickstart</em>: Ruby + Phusion Passenger</span>
                <span class="st-ui-type-detail">
                  <span class="st-ui-type-detail-bold">
                    <em>Quickstart</em>: Ruby + Phusion Passenger
                  </span>
                  &nbsp;•&nbsp;
                  <em>Quickstart</em>: Ruby + Phusion Passenger This 5 minute tutorial teaches you to start your application in a Phusion Passenger server, in development mode. Feel what Passenger is and how it works. Are you looking to deploy your app to production with Passenger, maybe in combination with Nginx or Apache? Take
                </span>
              </a>
              <a href="https://www.phusionpassenger.com/library/walkthroughs/start/meteor.html" class="st-ui-result __swiftype_result" data-st-result-doc-id="558b1e000711e87aed0004b4">
                <span class="st-ui-type-heading"><em>Quickstart</em>: Meteor + Phusion Passenger</span>
                <span class="st-ui-type-detail">
                  <span class="st-ui-type-detail-bold">
                    <em>Quickstart</em>: Meteor + Phusion Passenger
                  </span>
                  &nbsp;•&nbsp;

                  <em>Quickstart</em>: Meteor + Phusion Passenger This 5 minute tutorial teaches you to start your application in a Phusion Passenger server, in development mode. Feel what Passenger is and how it works. Are you looking to deploy your app to production with Passenger, maybe in combination with Nginx or Apache?
                </span>
              </a>
              <a href="https://www.phusionpassenger.com/library/walkthroughs/start/nodejs.html" class="st-ui-result __swiftype_result" data-st-result-doc-id="558b1dff0cc37f4ba5001600">
                <span class="st-ui-type-heading"><em>Quickstart</em>: Node.js + Phusion Passenger</span>
                <span class="st-ui-type-detail">
                  <span class="st-ui-type-detail-bold">
                    <em>Quickstart</em>: Node.js + Phusion Passenger
                  </span>
                  &nbsp;•&nbsp;

                  <em>Quickstart</em>: Node.js + Phusion Passenger This 5 minute tutorial teaches you to start your application in a Phusion Passenger server, in development mode. Feel what Passenger is and how it works. Are you looking to deploy your app to production with Passenger, maybe in combination with Nginx or Apache
                </span>
              </a>
            </div>
          </section>

          <section class="st-ui-no-results st-search-suggestions">
            <div class="st-query-not-present" style="display: none;">
            </div>
            <div class="st-query-present">
            </div>
          </section>
        </div>

        <!-- FOOTER -->
        <div class="st-ui-container-footer_bar st-position-container">
          <section class="st-ui-footer">
            <span class="st-ui-search-summary st-search-summary">
              <div class="st-query-present">
                Showing <strong>1</strong>–<strong>10</strong> of <strong>115</strong>
                <span class="st-ui-search-summary-query">for “quickstart”</span>
              </div>
            </span>
            <span class="st-ui-pagination st-search-pagination">
              <div class="st-query-present">
                <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link active" data-st-page="1" href="#">1</a>
                <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link" data-st-page="2" href="#">2</a>
                <a class="st-ui-pagination-link st-result-pagination-link" data-st-page="2" href="#">next <span class="st-ui-arrow right-arrow"></span></a>
              </div>
            </span>
          </section>
        </div>
      </div>
    </div> <!-- st-ui-overlay -->

    <div class="st-default-autocomplete" data-st-target-element=".st-default-search-input" style="display: none; position: absolute; top: 115px; left: 352px; z-index: 999999; width: 638px;">
    <div class="st-autocomplete-results st-ui-autocomplete"><div class="st-query-present" style="display: block;"></div></div>

  </div> <!-- st-ui-embed -->
</div>
