<%
locals = locals.merge(globals)

# We use absolute paths in this template only if the page asked for it,
# e.g. 404.html.erb.
# The reason why we don't use absolute paths everywhere is because we want
# the library to be offline readable without a browser.
if current_page.data.absolute_paths
  def maybe_absolute_url_for(path, options = {})
    config[:url_root] + url_for(path, options.merge(relative: false))
  end
else
  def maybe_absolute_url_for(path, options = {})
    url_for(path, options)
  end
end

def maybe_absolute_link_to(text, path)
  %Q{<a href="#{maybe_absolute_url_for(path)}">#{text}</a>}
end
%>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <% if page_title %>
      <title><%= page_title %> - <%= site_title %></title>
      <meta name="st:title" content="<%=h page_title %>">
    <% else %>
      <title><%= site_title %></title>
    <% end %>
    <link rel="stylesheet" href="<%= maybe_absolute_url_for "/packs/bundle.css" %>" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,600" rel="stylesheet" type="text/css">
    <% if current_page.data.skip_search || @skip_search %>
      <meta name="st:robots" content="noindex">
    <% end %>
    <% if locals[:integration_mode_type] %>
      <meta class="swiftype" name="integration_mode" data-type="enum" content="<%= locals[:integration_mode_type] %>">
    <% else %>
      <meta class="swiftype" name="integration_mode" data-type="enum" content="none">
    <% end %>
    <% if locals[:language_type] %>
      <meta class="swiftype" name="language" data-type="enum" content="<%= locals[:language_type] %>">
    <% else %>
      <meta class="swiftype" name="language" data-type="enum" content="none">
    <% end %>
    <% if locals[:edition_type] %>
      <meta class="swiftype" name="edition" data-type="enum" content="<%= locals[:edition_type] %>">
    <% else %>
      <meta class="swiftype" name="edition" data-type="enum" content="none">
    <% end %>
    <% if config[:google_analytics] %>
      <script>
        window.googleAnalyticsEnabled = true;
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32583440-10"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-32583440-10', { 'anonymize_ip': true });
      </script>
    <% end %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">

    <!-- Main navigation
    =========================================== -->
    <header id="header">
      <div>
        <ul>
          <a href="https://phusionpassenger.com/"><img src="<%= url_for "/images/passenger_logo.svg" %>" alt="home" /></a>
          <li><a href='/tutorials/'>Tutorials</a></li>
          <li><a href='/advanced_guides/'>Advanced guides</a></li>
          <li><a href="https://www.phusionpassenger.com/library/">References</a></li>
          <li><a href="https://www.phusionpassenger.com/library/">Old docs</a></li>
        </ul>
        <img class="small-screen-search" src="<%= url_for "/images/search_icon.svg" %>"  alt="search docs.." />
        <input type="search" placeholder="search docs.." />
      </div>
    </header>

    <div id="content">

      <!-- Left navigation
      =========================================== -->
      <% if has_sidebar? %>
        <%= yield_sidebar_content %>
      <% else %>
        <div id="left-nav">
          <div id="left-nav-content">
            <img src="https://badge.fury.io/rb/passenger.svg" class="version" alt="gem version"/>

            <%= render_partial("/shared/dropdown.html", locals: locals.merge(
              dropdown_type: "Language",
              dropdown_items: ['Ruby', 'Python', 'Node', 'Meteor']
            )) %>

            <%= render_partial("/shared/dropdown.html", locals: locals.merge(
              dropdown_type: "Integration",
              dropdown_items: ['Nginx', 'Apache', 'Standalone']
            )) %>

            <ul>
              <span>About Passenger</span>
              <li><a href="#">What is Passenger?</a></li>
              <li><a href="#">Fundamental concepts</a></li>
            </ul>

            <ul>
              <span>Getting started</span>
              <li><a href="#">Quickstart</a></li>
              <li><a href="#">Installation</a></li>
              <li><a href="#">The ‘passenger’ command</a></li>
              <li><a href="#">Process management</a></li>
              <li><a href="#">Reloading code</a></li>
              <li><a href="#">The --help option</a></li>
            </ul>

            <ul>
              <span>Deployment</span>
              <li><a href="#">Deploy to production</a></li>
              <li><a href="#">Deploying updates</a></li>
            </ul>

          </div>
        </div>
      <% end %>

      <!-- Main content
      =========================================== -->
      <div id="main-content">
        <div>
          <% if current_page.data.comments != false %>
            <div style="position: relative; z-index: 1">
              <div class="editlink"><a href="<%=h current_page_github_url %>">Edit page</a></div>
            </div>
          <% end %>

          <%= '<section class="bs-docs-section">' if !current_page.data.multisection %>
            <%= yield %>
          <%= '</section>' if !current_page.data.multisection %>
        </div>
      </div>

      <!-- Right sidebar
      =========================================== -->
      <div id="right-content">
        <div id="fuse-panel">
          <img src="<%= url_for "/images/FP_logo.svg" %>" alt="Fuse Panel logo"/>
          <img class="fuse" src="<%= url_for "/images/fuse_panel.png" %>" alt="Fuse Panel"/>
          <a class="light-button" href="https://www.phusionpassenger.com/fuse-panel">Try the beta</a>
          <img src="<%= url_for "/images/feedback_placeholder.svg" %>" alt="feedback"/>
        </div>
      </div>

    <%= globals[:layout_body_trailer] || "" %>

    <% if !current_page.data.skip_default_javascript %>
      <script src="<%= maybe_absolute_url_for "/packs/bundle.js" %>" async="true"></script>
    <% end %>

    <% if config[:google_analytics] %>
      <script>
        window.__lo_site_id = 54203;
        (function() {
          var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
          wa.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://cdn') + '.luckyorange.com/w.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
          })();
      </script>
      <script>
        adroll_adv_id = "EGR6J3X3IZEVHJN3CGDVPS";
        adroll_pix_id = "MZKAAVA3MVBWHKNHPWDOKS";
        // adroll_email = "username@example.com"; // OPTIONAL: provide email to improve user identification
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
      </script>
    <% end %>

    <%= render_partial('/layouts/swiftype_container.html') %>
  </body>
</html>
