<%
locals.merge!(globals)

# We use absolute paths in this template only if the page asked for it,
# e.g. 404.html.erb.
# The reason why we don't use absolute paths everywhere is because we want
# the library to be offline readable without a browser.
if current_page.data.absolute_paths
  def maybe_absolute_url_for(path, options = {})
    config[:url_root] + url_for(path, options.merge(relative: false))
  end
else
  def maybe_absolute_url_for(path, options = {})
    url_for(path, options)
  end
end

def maybe_absolute_link_to(text, path)
  %Q{<a href="#{maybe_absolute_url_for(path)}">#{text}</a>}
end
%>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <% if page_title %>
      <title><%= page_title %> - <%= site_title %></title>
      <meta name="st:title" content="<%=h page_title %>">
    <% else %>
      <title><%= site_title %></title>
    <% end %>
    <link rel="stylesheet" href="<%= maybe_absolute_url_for "/stylesheets/all.css" %>" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,600" rel="stylesheet" type="text/css">
    <% if current_page.data.skip_search || @skip_search %>
      <meta name="st:robots" content="noindex">
    <% end %>
    <% if locals[:integration_mode_type] %>
      <meta class="swiftype" name="integration_mode" data-type="enum" content="<%= locals[:integration_mode_type] %>">
    <% else %>
      <meta class="swiftype" name="integration_mode" data-type="enum" content="none">
    <% end %>
    <% if locals[:language_type] %>
      <meta class="swiftype" name="language" data-type="enum" content="<%= locals[:language_type] %>">
    <% else %>
      <meta class="swiftype" name="language" data-type="enum" content="none">
    <% end %>
    <% if locals[:edition_type] %>
      <meta class="swiftype" name="edition" data-type="enum" content="<%= locals[:edition_type] %>">
    <% else %>
      <meta class="swiftype" name="edition" data-type="enum" content="none">
    <% end %>
    <script type="text/javascript" id="cookiebanner" src="https://cookiebanner.unionstationapp.com/js/cookiebanner.min.js"></script>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <!-- Main navigation
    =========================================== -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" data-swiftype-index="false">
      <div class="container">
        <div class="navbar-header" role="banner">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Navigation
          </button>
          <a class="navbar-brand" href="<%= maybe_absolute_url_for '/index.html' %>">
            <% if config[:display_guides] %>
              <span class="navbar-brand-part1">Passenger</span>
              <span class="navbar-brand-part2">Library</span>
            <% else %>
              <span class="navbar-brand-part1">Passenger</span>
              <span class="navbar-brand-part2">Walkthroughs</span>
            <% end %>
          </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <% if config[:display_guides] %>
              <% navbar_dropdown_section :start, :basics, :deploy_walkthrough do %>
                <a href="<%= maybe_absolute_url_for '/walkthroughs/index.html' %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Walkthroughs <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% navbar_section :start do %><%= maybe_absolute_link_to "Quickstart", "/walkthroughs/start/index.html" %><% end %>
                  <% navbar_section :basics do %><%= maybe_absolute_link_to "Basics", "/walkthroughs/basics/index.html" %><% end %>
                  <% navbar_section :deploy_walkthrough do %><%= maybe_absolute_link_to "Deploy to production", "/walkthroughs/deploy/index.html" %><% end %>
                </ul>
              <% end %>
              <% navbar_dropdown_section :install, :config, :deploy, :admin, :indepth do %>
                <a href="<%= maybe_absolute_url_for '/guides.html' %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Guides <span class="caret"></span></a>
                <% if locals[:integration_mode_type] %>
                  <ul class="dropdown-menu" role="menu">
                    <% navbar_section :install do %><%= maybe_absolute_link_to "Installation, upgrade and uninstallation", "/install/#{locals[:integration_mode_type]}/index.html" %><% end %>
                    <% navbar_section :config do %><%= maybe_absolute_link_to "Configuration and optimization", "/config/#{locals[:integration_mode_type]}/index.html" %><% end %>
                    <% navbar_section :deploy do %><%= maybe_absolute_link_to "Deployment and scaling", "/deploy/#{locals[:integration_mode_type]}/index.html" %><% end %>
                    <% navbar_section :admin do %><%= maybe_absolute_link_to "Administration, debugging and troubleshooting", "/admin/#{locals[:integration_mode_type]}/index.html" %><% end %>
                    <% navbar_section :indepth do %><%= maybe_absolute_link_to "In-depth", "/indepth/index.html" %><% end %>
                    <% navbar_section :unionstation do %><%= maybe_absolute_link_to "Union Station logging", "/unionstation/index.html" %><% end %>
                  </ul>
                <% else %>
                  <ul class="dropdown-menu" role="menu">
                    <% navbar_section :install do %><%= maybe_absolute_link_to "Installation, upgrade and uninstallation", "/install/index.html" %><% end %>
                    <% navbar_section :config do %><%= maybe_absolute_link_to "Configuration and optimization", "/config/index.html" %><% end %>
                    <% navbar_section :deploy do %><%= maybe_absolute_link_to "Deployment and scaling", "/deploy/index.html" %><% end %>
                    <% navbar_section :admin do %><%= maybe_absolute_link_to "Administration, debugging and troubleshooting", "/admin/index.html" %><% end %>
                    <% navbar_section :indepth do %><%= maybe_absolute_link_to "In-depth", "/indepth/index.html" %><% end %>
                    <% navbar_section :unionstation do %><%= maybe_absolute_link_to "Union Station logging", "/unionstation/index.html" %><% end %>
                  </ul>
                <% end %>
                <% navbar_dropdown_section :reference do %>
                  <% if locals[:integration_mode_type] %>
                    <a href="<%= maybe_absolute_url_for "/config/#{locals[:integration_mode_type]}/index.html" %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">References <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <% navbar_section :reference do %><%= maybe_absolute_link_to "Configuration reference", "/config/#{locals[:integration_mode_type]}/reference/index.html" %><% end %>
                      <% navbar_section :reference do %><%= maybe_absolute_link_to "Hooks", "/indepth/hooks.html" %><% end %>
                    </ul>
                  <% else %>
                    <a href="<%= maybe_absolute_url_for "/config/index.html" %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">References <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <% navbar_section :reference do %><%= maybe_absolute_link_to "Configuration reference", "/config/reference/index.html" %><% end %>
                      <% navbar_section :reference do %><%= maybe_absolute_link_to "Hooks", "/indepth/hooks.html" %><% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% navbar_section :start do %><%= maybe_absolute_link_to "Quickstart", "/walkthroughs/start/index.html" %><% end %>
              <% navbar_section :basics do %><%= maybe_absolute_link_to "Basics", "/walkthroughs/basics/index.html" %><% end %>
              <% navbar_section :deploy_walkthrough do %><%= maybe_absolute_link_to "Deploy to production", "/walkthroughs/deploy/index.html" %><% end %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="swiftype-container">
              <script type="text/javascript">
                (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
                e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
                })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

                _st('install','hAw7oyzHaFA3x2KtoDpk','2.0.0');
              </script>
              <input type="text" class="st-default-search-input form-control">
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://www.phusionpassenger.com/">Back to Passenger homepage</a></li>
                <li><a href="<%= SUPPORT_URL %>" target="_blank">Support</a></li>
                <li><a href="http://www.phusion.nl/contact" target="_blank">Contact</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>


    <%= yield_content :masthead %>

    <div class="container bs-docs-container">
      <div class="row">
        <% if has_sidebar? %>
          <!-- Sidebar
          =========================================== -->
          <div class="col-md-3" role="complementary">
            <aside class="bs-docs-sidebar hidden-print" data-swiftype-index="false">
              <%= yield_sidebar_content %>
            </aside>
          </div>

          <!-- Content
          =========================================== -->
          <div class="col-md-8" role="main">
            <%= '<section class="bs-docs-section">' if !current_page.data.multisection %>
              <%= yield %>
            <%= '</section>' if !current_page.data.multisection %>
          </div>
        <% else %>
          <!-- Content
          =========================================== -->
          <div class="col-md-8 col-md-offset-2" role="main">
            <%= '<section class="bs-docs-section">' if !current_page.data.multisection %>
              <%= yield %>
            <%= '</section>' if !current_page.data.multisection %>
          </div>
        <% end %>
      </div>

      <% if current_page.data.comments != false %>
        <div class="row" role="complementary" data-swiftype-index="false">
          <div class="<%= comments_section_classes %> bs-comments-section">
            <div class="union-station-advert union-station-advert-followed-by-comments-section-alert media">
              <div class="media-left media-middle">
                <img alt="Union Station logo" src="https://blog.phusion.nl/content/images/2015/10/logo-icon-color.png">
              </div>
              <div class="media-body">
                <p><strong><a href="https://unionstationapp.com">Union Station</a></strong> is Phusion's brand new take on <a href="https://phusionpassenger.com">Passenger</a> application monitoring and analytics. Easily find performance bottlenecks and errors in your application with an attractive and easy to use interface. <strong><a href="https://unionstationapp.com">Sign up for a free trial today!</a></strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" role="complementary" data-swiftype-index="false">
          <div class="<%= comments_section_classes %> bs-comments-section">
            <div class="bs-comments-section-alert" role="alert">
              <h3 class="notoc">You can <a href="<%=h current_page_github_url %>">edit this page</a> to improve it, or post feedback below.</h3>
              <p>Edits are committed straight to GitHub and are periodically reviewed and included in this site.</p>
            </div>

            <div id="disqus_thread"></div>
            <script>
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'passengerdocs'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      <% end %>
    </div>


    <!-- Footer
    =========================================== -->
    <footer class="bs-docs-footer" role="contentinfo" data-swiftype-index="false">
      <div class="container">
        <div class="bs-docs-social">
          <ul class="bs-docs-social-buttons">
            <li>
              <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=phusion&amp;repo=passenger&amp;type=watch&amp;count=true" width="90" height="20" title="Star on GitHub"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=phusion&amp;repo=passenger&amp;type=fork&amp;count=true" width="90" height="20" title="Fork on GitHub"></iframe>
            </li>
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.phusionpassenger.com" data-count="horizontal" data-via="phusion_nl" data-text="Phusion Passenger">Tweet</a>
            </li>
            <li>
              <a href="https://twitter.com/phusion_nl" class="twitter-follow-button" data-show-count="true">Follow @phusion_nl</a>
            </li>
          </ul>
        </div>

        <p>
          Documentation licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
        </p>
        <p class="legal-notice-small">
          Copyright &copy; (c) 2008-2015 Phusion Holding B.V. and contributors to the Passenger Library.
        </p>
        <p class="legal-notice-small">
          "Phusion", "Phusion Passenger", "Passenger" and the Phusion pinwheel logo are registered trademarks of Phusion Holding B.V.
        </p>

        <!-- Based on http://mistic100.github.io/jekyll-bootstrap-doc/ -->
        <ul class="bs-docs-footer-links muted">
          <li><a href="https://github.com/phusion/passenger">Passenger at Github</a></li>
          <li>&middot;</li>
          <li><a href="https://github.com/phusion/passenger_library">Passenger Library at Github</a></li>
        </ul>
      </div>
    </footer>

    <%= globals[:layout_body_trailer] || "" %>

    <% if !current_page.data.skip_default_javascript %>
      <script src="<%= maybe_absolute_url_for "/javascripts/all.js" %>" async="true"></script>
    <% end %>

    <% if config[:google_analytics] %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-32583440-10', 'auto');
        ga('require', 'linkid');
        ga('send', 'pageview');
      </script>
      <script>
        adroll_adv_id = "EGR6J3X3IZEVHJN3CGDVPS";
        adroll_pix_id = "MZKAAVA3MVBWHKNHPWDOKS";
        // adroll_email = "username@example.com"; // OPTIONAL: provide email to improve user identification
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
      </script>
    <% end %>
  </body>
</html>
