<% step = 0 %>
<a href="<%= url_for "/index.html" %>#walkthroughs" class="back-to-previous">&laquo; Back to all walkthroughs</a>

<h2>Deploy to production<br>
<small>for <%= language_name %> developers</small></h2>

<ul class="nav nav-stacked">
  <% navbar_subsection :intro do %>
    <% step += 1 %>
    <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/index.html" %>">
      <% if available_infrastructures(locals).size > 1 %>
        <%= step %> Select infrastructure
        <% if locals[:infrastructure_type] %>
          <br><small>Chosen: <%= infrastructure_name %></small>
        <% end %>
      <% else %>
        <%= step %> Introduction
      <% end %>
    </a>
  <% end %>

  <% if needs_pick_integration_mode?(locals) != false %>
    <% if needs_pick_integration_mode?(locals).nil? || locals[:infrastructure_type].nil? %>
      <% step += 1 %>
      <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/integration_mode.html" %>" class="muted"><%= step %> Pick integration mode</a></li>
    <% else %>
      <% navbar_subsection :integration_mode do %>
        <% step += 1 %>
        <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/integration_mode.html" %>">
          <%= step %> Pick integration mode
          <% if locals[:integration_mode_type] %>
            <br><small>Chosen: <%= integration_mode_name %></small>
          <% end %>
        </a>
      <% end %>
    <% end %>
  <% end %>

  <% if !locals[:infrastructure_type] || !locals[:integration_mode_type] %>
    <% step += 1 %>
    <li>
      <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type || "nginx"]}/open_source_vs_enterprise.html" %>" class="muted"><%= step %> Open source vs Enterprise</a>
    </li>
  <% else %>
    <% navbar_subsection :open_source_vs_enterprise do %>
      <% step += 1 %>
      <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/open_source_vs_enterprise.html" %>">
        <%= step %> Open source vs Enterprise
        <% if locals[:edition_type] %>
          <br><small>Chosen: <%= edition_name %></small>
        <% end %>
      </a>
    <% end %>
  <% end %>

  <% if needs_launch_server?(locals) != false %>
    <% if locals[:infrastructure_type].nil? || locals[:integration_mode_type].nil? || locals[:edition_type].nil? || needs_launch_server?(locals).nil? %>
      <% step += 1 %>
      <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type] || "nginx"}/#{locals[:edition_type] || "oss"}/launch_server.html" %>" class="muted"><%= step %> Launch a server</a></li>
    <% else %>
      <% navbar_subsection :launch_server do %>
        <% step += 1 %>
        <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/launch_server.html" %>">
          <%= step %> Launch a server
        </a>
      <% end %>
    <% end %>
  <% end %>

  <% if needs_install_language_runtime?(locals) != false %>
    <% if locals[:infrastructure_type].nil? || locals[:integration_mode_type].nil? || locals[:edition_type].nil? || needs_install_language_runtime?(locals).nil? %>
      <% step += 1 %>
      <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type] || "nginx"}/#{locals[:edition_type] || "oss"}/install_language_runtime.html" %>" class="muted"><%= step %> Install <%= language_runtime_name %></a></li>
    <% else %>
      <% navbar_subsection :install_language_runtime do %>
        <% step += 1 %>
        <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/install_language_runtime.html" %>">
          <%= step %> Install <%= language_runtime_name %>
        </a>
      <% end %>
    <% end %>
  <% end %>

  <% if needs_install_passenger?(locals) != false %>
    <% if locals[:infrastructure_type].nil? || locals[:integration_mode_type].nil? || locals[:edition_type].nil? || needs_install_passenger?(locals).nil? %>
      <% step += 1 %>
      <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type] || "nginx"}/#{locals[:edition_type] || "oss"}/#{locals[:edition_type] || "trusty"}/install_passenger.html" %>" class="muted"><%= step %> Install Passenger</a></li>
    <% else %>
      <% navbar_subsection :install_passenger do %>
        <% step += 1 %>
        <% if locals[:os_config_type] %>
          <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/#{os_config_type}/install_passenger.html" %>">
            <%= step %> Install Passenger
            <br><small>Chosen: <%= os_config_name %></small>
          </a>
        <% else %>
          <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/install_passenger_main.html" %>">
            <%= step %> Install Passenger
          </a>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if locals[:infrastructure_type].nil? || locals[:integration_mode_type].nil? || locals[:edition_type].nil? %>
    <% step += 1 %>
    <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type] || "nginx"}/#{locals[:edition_type] || "oss"}/#{locals[:edition_type] || "trusty"}/deploy_app.html" %>" class="muted"><%= step %> Deploy app</a></li>
  <% else %>
    <% navbar_subsection :deploy_app do %>
      <% step += 1 %>
      <% if locals[:os_config_type] %>
        <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/#{os_config_type}/deploy_app.html" %>">
          <%= step %> Deploy app
          <br><small>Chosen: <%= os_config_name %></small>
        </a>
      <% else %>
        <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/deploy_app_main.html" %>">
          <%= step %> Deploy app
        </a>
      <% end %>
    <% end %>
  <% end %>

  <% if locals[:infrastructure_type].nil? || locals[:integration_mode_type].nil? || locals[:edition_type].nil? %>
    <% step += 1 %>
    <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type] || "nginx"}/#{locals[:edition_type] || "oss"}/deploy_updates.html" %>" class="muted"><%= step %> Deploy updates</a></li>
  <% else %>
    <% navbar_subsection :deploy_updates do %>
      <% step += 1 %>
      <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/deploy_updates.html" %>">
        <%= step %> Deploy updates
      </a>
    <% end %>
  <% end %>

  <% if locals[:infrastructure_type].nil? || locals[:integration_mode_type].nil? || locals[:edition_type].nil? %>
    <% step += 1 %>
    <li><a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{locals[:infrastructure_type] || "digital_ocean"}/#{locals[:integration_mode_type] || "nginx"}/#{locals[:edition_type] || "oss"}/conclusion.html" %>" class="muted"><%= step %> Conclusion</a></li>
  <% else %>
    <% navbar_subsection :conclusion do %>
      <% step += 1 %>
      <a href="<%= url_for "/walkthroughs/deploy/#{language_type}/#{infrastructure_type}/#{integration_mode_type}/#{edition_type}/conclusion.html" %>">
        <%= step %> Conclusion
      </a>
    <% end %>
  <% end %>
</ul>
