---
section: deploy_walkthrough
subsection: deploy_app
---
<%
if edition_type == :oss
  passenger_title = "Passenger (open source)"
else
  passenger_title = "Passenger Enterprise"
end
@page_title = "Deploying a #{language_name} app on #{infrastructure_name_with_determiner} production server with #{passenger_title} in #{integration_mode_name} mode"
content_for(:sidebar) { render_partial("_toc.html", locals: locals) }
%>

<h1>Deploying a <%= language_name %> app on <%= infrastructure_name_with_determiner %> production server<br>
<small>with <%= passenger_title %> in <%= integration_mode_name %> mode</small></h1>

<% if language_type == :ruby && infrastructure_type == :heroku %>
  <%= render_partial("/walkthroughs/deploy/deploy_app/ruby_heroku.md", locals: locals) %>
  <a href="conclusion.html" class="btn btn-primary btn-lg">Continue: Conclusion &raquo;</a>
<% elsif language_type == :ruby && integration_mode_type == :standalone %>
  <%= render_partial("/walkthroughs/deploy/deploy_app/standalone.md", locals: locals) %>
  <a href="conclusion.html" class="btn btn-primary btn-lg">Continue: Conclusion &raquo;</a>
<% else %>
  <p>
    Now that proper preparations have been made, it is time to deploy your app. :-)
  </p>
  <p>
    But first, can you tell us how Passenger was installed?
  </p>

  <%= render_partial("/guides/install/shared/os_selector.html",
        locals: locals.merge(context: :deploy_app, next_page: "deploy_app.html")) %>
<% end %>
