---
title: Deploying to production
section: start
comments: false
skip_search_index: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Deploy to production</h1>
      <p>Learn how to setup Passenger in a production environment.</p>
    </div>
  </div>
<% end %>

<div class="programming-language-selections">
  <a href="<%= url_for '/walkthroughs/deploy/ruby/index.html' %>" class="programming-language-selection">
    <img src="<%= url_for '/images/ruby.png' %>" width="96" height="96" alt="Ruby">
    <span class="programming-language-selection-label">Ruby</span>
  </a>
  <a href="<%= url_for '/walkthroughs/deploy/python/index.html' %>" class="programming-language-selection">
    <img src="<%= url_for '/images/python.png' %>" width="96" height="96" alt="Python">
    <span class="programming-language-selection-label">Python</span>
  </a>
  <a href="<%= url_for '/walkthroughs/deploy/nodejs/index.html' %>" class="programming-language-selection">
    <img src="<%= url_for '/images/nodejs.png' %>" width="133" height="96" alt="Node.js">
    <span class="programming-language-selection-label">Node.js</span>
  </a>
  <a href="<%= url_for '/walkthroughs/deploy/iojs/index.html' %>" class="programming-language-selection">
    <img src="<%= url_for '/images/iojs.png' %>" width="96" height="96" alt="io.js">
    <span class="programming-language-selection-label">io.js</span>
  </a>
  <a href="<%= url_for '/walkthroughs/deploy/meteor/index.html' %>" class="programming-language-selection">
    <img src="<%= url_for '/images/meteor.png' %>" width="133" height="96" alt="Meteor">
    <span class="programming-language-selection-label">Meteor</span>
  </a>
</div>
