---
section: deploy_walkthrough
subsection: install_passenger
---
<%
if edition_type == :oss
  passenger_title = "Passenger (open source)"
else
  passenger_title = "Passenger Enterprise"
end
@page_title = "Installing #{passenger_title} + #{integration_mode_name} on #{infrastructure_name_with_determiner} production server"
content_for(:sidebar) { render_partial("_toc.html", locals: locals) }

locals[:enterprise] = edition_type == :enterprise
locals[:type] = integration_mode_type.to_s
locals[:web_server_name] = integration_mode_name
%>

<h1>Installing <%= passenger_title %> + <%= integration_mode_name %> on <%= infrastructure_name_with_determiner %> production server
<small>for <%= language_name %> apps</small></h1>

<h2 class="notoc">Select operating system</h2>

<%= render_partial("/guides/install/shared/os_selector.html", locals: locals) %>

<div class="install_os install_os_any" style="display: none">
  <p><strong>Table of contents</strong></p>
  <ol class="toc-container"><li>Loading...</li></ol>
</div>

<h2>Installation guide</h2>

<div class="install_os install_os_none" style="display: none">
  <p>Please select an operating system from the above dropdown.</p>
</div>

<%= render_partial("/guides/install/shared/install.html", locals: locals) %>

<h2>Next step</h2>

<div class="install_os install_os_none install_os_not_supported" style="display: none">
  <p>Please select an operating system from the above dropdown.</p>
</div>

<div class="install_os install_os_any" style="display: none">
  <p>
    Now that you have installed Passenger, you are ready to deploy your <%= language_name %> application on the production server!
  </p>

  <p>
    <a href="deploy_app.html" class="btn btn-primary btn-large">Continue &raquo;</a>
  </p>
</div>
