---
section: deploy_walkthrough
subsection: install_passenger
---
<%
@page_title = "Installing #{edition_title} + #{integration_mode_name} on #{infrastructure_name_with_determiner} production server - #{deployment_walkthrough_page_title(locals)}"
content_for(:sidebar) { render_partial("_toc.html", locals: locals) }
%>

<h1>Installing <%= edition_title %> + <%= integration_mode_name %> on <%= infrastructure_name_with_determiner %> production server
<small>for <%= language_name %> apps</small></h1>

<p>
  Now it is time to install Passenger. :-) Please start by selecting the operating system that your server is running on.
  <% if infrastructure_has_launch_instructions %>
    The OS that we recommend you to pick in the "Launch a server" step was Ubuntu 14.04 LTS.
  <% end %>
</p>

<%= render_partial("/install/install/shared/os_selector.html",
      locals: locals.merge(context: :install_passenger, next_page: "install_passenger.html")) %>
