---
title: Deploying a Ruby app with Passenger to a Linux/Unix production server
section: deploy_walkthrough
subsection: intro
---
<% content_for(:sidebar) { render_partial("_toc.html", locals: locals) } %>

<h1>Deploying a <%= language_name %> app with Passenger to production</h1>
<p>
  <a href="https://www.phusionpassenger.com/">Passenger</a> is an open source <strong>web application server</strong> for <%= language_name %>. It handles HTTP requests, manages processes and resources, and enables administration, monitoring and problem diagnosis. Passenger is very easy to use, makes deploying in production much easier and is scalable.
</p>

<p>
  This is an end-to-end walkthrough that teaches you how to install <%= language_name %> and Passenger on a production server. This walkthrough will ask you some questions, so the exact walkthrough steps depend on the choices you make. In general, it covers these topics:
</p>
<ol>
  <li>Launching a server</li>
  <li>Installing the <%= language_name %> runtime</li>
  <li>Installing Passenger</li>
  <li>Setting up the production server in preparation for the application, such as creating a Unix user account and setting up permissions</li>
  <li>Deploying the application itself</li>
  <li>Optional integration with a web server, such as Nginx or Apache</li>
</ol>
<p>
  If you are an advanced user, you can simply skip the steps that you are already familiar with.
</p>

<p>
  Not familiar with Passenger, or looking to run Passenger in a development environment instead? Then please take a look at the <a href="<%= url_for "/walkthroughs/start/#{language_type}.html" %>">quickstart</a> and the <a href="<%= url_for "/walkthroughs/basics/#{language_type}/index.html" %>">basics walkthrough</a>.
</p>

<% if (spec = deployment_walkthrough_next_step_after_selecting_infrastructure(locals)) %>
  <p>Ready to get started?</p>
  <p><a href="<%= spec[:url] %>" class="btn btn-lg btn-primary">Next step: <%= spec[:long_title] %> &raquo;</a></p>
<% else %>
  <h2>Ready to get started?</h2>
  <p>
    Please start by picking the hosting provider or infrastructure that you want to deploy to.
  </p>
  <ul>
    <% available_infrastructures(locals).each do |infra_spec| %>
      <% spec = deployment_walkthrough_next_step_after_selecting_infrastructure(locals.merge(infra_spec)) %>
      <li><a href="<%= spec[:url] %>"><%= infra_spec[:infrastructure_long_name] %> &raquo;</a></li>
    <% end %>
  </ul>
<% end %>
