---
section: deploy_walkthrough
subsection: intro
---
<%
@page_title = "Deploying a #{language_name} app with Passenger to production"
content_for(:sidebar) { render_partial("_toc.html", locals: locals) }
%>

<h1>Deploying a <%= language_name %> app with Passenger to production</h1>
<p>
  <a href="https://www.phusionpassenger.com/">Passenger</a> is an open source <strong>web application server</strong> for <%= language_name %>. It handles HTTP requests, manages processes and resources, and enables administration, monitoring and problem diagnosis. Passenger is very easy to use, makes deploying in production much easier and is scalable.
</p>

<h4>What is this tutorial?</h4>
<p>
  This is an <em>end-to-end tutorial</em> that teaches you how to install <%= language_name %> and Passenger on a production server. This tutorial will ask you some questions, so the exact tutorial steps depend on the choices you make. In general, it covers these topics:
</p>
<ol>
  <li>Launching a server</li>
  <li>Installing the <%= language_name %> runtime</li>
  <li>Installing Passenger</li>
  <li>Setting up the production server in preparation for the application, such as creating a Unix user account and setting up permissions</li>
  <li>Deploying the application itself</li>
  <li>Updating the application to newer versions</li>
  <li>Optional integration with a web server, such as Nginx or Apache</li>
</ol>

<div class="row">
  <div class="col-md-4">
    <h4>Not familar with Passenger?</h4>
    <p>
      Please take a look at the <a href="<%= url_for "/walkthroughs/start/#{language_type}.html" %>">quickstart</a> and the <a href="<%= url_for "/walkthroughs/basics/#{language_type}/index.html" %>">basics tutorial</a>.
    </p>
  </div>

  <div class="col-md-4">
    <h4>Developing?</h4>
    <p>
      Looking to run Passenger in development? Then please read the <a href="<%= url_for "/walkthroughs/basics/#{language_type}/index.html" %>">basics tutorial</a> or the <a href="<%= url_for "/dev/#{language_type}/index.html" %>">development guide</a>.
    </p>
  </div>

  <div class="col-md-4">
    <h4>Advanced user?</h4>
    <p>
      Simply skip the steps that you are already familiar with, or refer to our <a href="<%= url_for "/install/#{language_type}/index.html" %>">installation guides</a> which are not end-to-end, but are shorter and more focused.
    </p>
  </div>
</div>

<% if (spec = deployment_walkthrough_next_step_after_selecting_infrastructure(locals)) %>
  <p>Ready to get started?</p>
  <p><a href="<%= spec[:url] %>" class="btn btn-lg btn-primary">Next step: <%= spec[:long_title] %> &raquo;</a></p>
<% else %>
  <h2>Ready to get started?</h2>
  <p>
    Please start by picking the hosting provider or infrastructure that you want to deploy to.
  </p>

  <div class="row">
    <div class="col-md-6">
      <h4>Deploy to a hosting service</h4>
      <ul>
      <% available_infrastructures(locals).each do |infra_spec| %>
        <% spec = deployment_walkthrough_next_step_after_selecting_infrastructure(locals.merge(infra_spec)) %>
        <li><a href="<%= spec[:url] %>"><%= infra_spec[:infrastructure_long_name] %></a></li>
      <% end %>
      </ul>

      <h4>Your provider not listed above?</h4>
      <ul>
        <%
        infra_spec = ownserver_infrastructure
        spec = deployment_walkthrough_next_step_after_selecting_infrastructure(locals.merge(infra_spec))
        %>
        <li><a href="<%= spec[:url] %>">Generic Linux/Unix deployment tutorial</a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <h4>Deploy to your own server/infrastructure</h4>

      <%
      infra_spec = ownserver_infrastructure
      spec = deployment_walkthrough_next_step_after_selecting_infrastructure(locals.merge(infra_spec))
      %>
      <a href="<%= spec[:url] %>">Generic Linux/Unix deployment tutorial</a>
    </div>
  </div>
<% end %>
