<%= render_partial("/guides/install/shared/debian.html", locals: locals.merge(id_prefix: "debian_")) %>
<%= render_partial("/guides/install/shared/redhat.html", locals: locals.merge(id_prefix: "redhat_")) %>
<% if !enterprise %>
  <%# Passenger Enterprise cannot be installed via Homebrew %>
  <%= render_partial("/guides/install/shared/osx.html", locals: locals.merge(id_prefix: "osx_")) %>
<% end %>
<div class="install_os install_os_other" style="display: none">
  <%= render_partial("/guides/install/shared/other_rubygems.html", locals: locals.merge(id_prefix: "rubygems_")) %>
  <%= render_partial("/guides/install/shared/other_tarball.html", locals: locals.merge(id_prefix: "tarball_")) %>
</div>
