<%# Be sure to also update deployment_walkthrough_helpers.rb, method #available_os_configs %>

<%
if context != :install_passenger && !needs_install_passenger?(locals)
  raise "_os_selector.html may only be included outside the :install_passenger context if `needs_install_passenger?` is true. In cases where Passenger does not need to be installed (e.g. when Passenger Standalone + Ruby is applicable), you should include a page under the deploy_app/ directory directly, without showing the OS selector."
end
%>

<noscript>
  <!-- Many parts of the Library don't work without Javascript. This noscript section here only serves to allow search engines to discover links. -->
  <ul>
    <li>
      <strong>Debian, Ubuntu (with APT)</strong>
      <ul>
        <%= debian_version_list_options(next_page) %>
      </ul>
    </li>
    <li>
      <strong>Red Hat, CentOS (with RPM)</strong>
      <ul>
        <%= redhat_version_list_options(next_page) %>
      </ul>
    </li>
    <li>
      <strong>Mac OS X</strong>
      <ul>
        <li><a href="osx/<%= next_page %>">Mac OS X + Homebrew</a></li>
      </ul>
    </li>
    <li>
      <strong>Other / OS independent (generic installation method)</strong>
      <% if context == :install_passenger %>
        <ul>
          <li>Please select an installation method:</li>
          <li><a href="tarball/<%= next_page %>">Source tarball</a></li>
          <% if locals[:language_type].nil? || locals[:language_type] == :ruby %>
            <li><a href="rubygems_rvm/<%= next_page %>">RubyGems (with RVM)</a></li>
            <li><a href="rubygems_norvm/<%= next_page %>">RubyGems (without RVM)</a></li>
          <% end %>
        </ul>
      <% else %>
        <ul>
          <li>Please specify how Passenger was installed:</li>
          <li><a href="tarball/<%= next_page %>">Through source tarball</a></li>
          <% if locals[:language_type].nil? || locals[:language_type] == :ruby %>
            <li><a href="rubygems_rvm/<%= next_page %>">Through RubyGems (with RVM)</a></li>
            <li><a href="rubygems_norvm/<%= next_page %>">Through RubyGems (without RVM)</a></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  </ul>
</noscript>

<p class="os_install_loading_indicator">Loading...</p>

<p><select id="os_install_select" style="display: none">
  <option value="none" selected>Please select an operating system / installation method</option>
  <option value="debian">Debian, Ubuntu (with APT)</option>
  <option value="redhat">Red Hat, CentOS (with RPM)</option>
  <option value="osx">Mac OS X</option>
  <option value="other">Other / OS independent (generic installation method)</option>
</select></p>

<div class="install_os install_os_debian" style="display: none">
  <p><select id="debian_version_select">
    <%= debian_version_selection_options %>
    <% if context == :install_passenger %>
      <option value="other">Other</option>
    <% end %>
  </select></p>

  <div class="unsupported_debian_instructions">
    Is your Debian or Ubuntu version not listed? Then sorry, we do not provide packages for this version at the moment. Please <a href="javascript:void(showGenericInstallationInstructions())">select "Other / OS independent (generic installation method)"</a> in the installation method dropdown, then select an appropriate choice.
  </div>
</div>

<div class="install_os install_os_redhat" style="display: none">
  <p><select id="redhat_version_select">
    <%= redhat_version_selection_options %>
    <% if context == :install_passenger %>
      <option value="other">Other</option>
    <% end %>
  </select></p>

  <div class="unsupported_redhat_instructions">
    Is your Red Hat or CentOS version not listed? Then sorry, we do not provide packages for this version at the moment. Please <a href="javascript:void(showGenericInstallationInstructions())">select "Other / OS independent (generic installation method)"</a> in the installation method dropdown, then select an appropriate choice.
  </div>
</div>

<div class="install_os install_os_other" style="display: none">
  <p><select id="generic_install_method_select">
    <% if context == :install_passenger %>
      <option value="none" selected>Please select an installation method</option>
      <option value="tarball">Source tarball</option>
      <% if locals[:language_type].nil? || locals[:language_type] == :ruby %>
        <option value="rubygems_rvm">RubyGems (with RVM)</option>
        <option value="rubygems_norvm">RubyGems (without RVM)</option>
      <% end %>
    <% else %>
      <option value="none" selected>Please specify how Passenger was installed</option>
      <option value="tarball">Through source tarball</option>
      <% if locals[:language_type].nil? || locals[:language_type] == :ruby %>
        <option value="rubygems_rvm">Through RubyGems (with RVM)</option>
        <option value="rubygems_norvm">Through RubyGems (without RVM)</option>
      <% end %>
    <% end %>
  </select></p>
</div>

<% if context == :install_passenger %>
  <div class="install_os install_os_none" style="display: none">
    <p><small><a href="#windows_not_supported" data-toggle="collapse" aria-expanded="false" aria-controls="windows_not_supported">(Windows is not supported)</a></small></p>

    <div class="collapse" id="windows_not_supported">
      <div class="note">
        Our apologies to Windows users. Passenger doesn't support Windows. We require a Unix-like operating system.
      </div>
    </div>
  </div>
<% end %>

<div class="install_os install_os_any" style="display: none">
  <a href="" class="btn btn-primary install_os_continue" data-next-page="<%= next_page %>">Continue &raquo;</a>
</div>
