<% step = 0 %>

<% if edition_type == :oss
  formula_name = "passenger"
  nginx_formula = "nginx --with-passenger"
else
  formula_name = "passenger-enterprise"
  nginx_formula = "nginx-passenger-enterprise"
end
%>

<% if edition_type == :enterprise %>
  <%=
  result = {}
  output = render_partial("/install/install/shared/enterprise_preamble.html", locals: locals.merge(result: result))
  step = result[:step]
  output
  %>
  <div class="alert alert-info" role="alert" style="margin: 4em 0">From this point on, all commands that you run are supposed to be run on the production server, not on your local computer.</div>
<% end %>

<% step += 1 %>
<h2>Step <%= step %>: install Passenger package</h2>
<p>
  You can install Passenger through <a href="http://brew.sh/">Homebrew</a>:
</p>
  <pre class="highlight shell"><% if edition_type == :enterprise %>
<span class="prompt">$ </span>brew tap phusion/passenger
<% end %>
<span class="prompt">$ </span>brew install <%= (integration_mode_type == :nginx) ? nginx_formula : formula_name %></pre>
<% if edition_type == :enterprise %><p>
  You will be prompted to provide your download token the first time you install Passenger Enterprise through Homebrew.
</p><% end %>
<p>
  Not using Homebrew? Please <a href="<%= menu_selection_url %>">go back to the operating system selection menu</a> and choose "Other" as operating system</a>.
</p>

<% if integration_mode_type == :apache %>
  <% step += 1 %>
  <h2>Step <%= step %>: enable the Passenger Apache module and restart Apache</h2>
  <p>
    Passenger is now installed, but it still needs to be enabled inside Apache. Run <code>brew info <%= formula_name %></code> and follow the instructions in the "Caveats" section:
  </p>
  <pre class="highlight shell"><span class="prompt">$ </span>brew info <%= formula_name %>
<span class="output">...
==&gt; Caveats
...

To activate Passenger for Apache, create /etc/apache2/other/passenger.conf:
(...more instructions that you should follow...)</span></pre>

  <p>When you are done following the instructions, restart Apache:</p>
  <pre class="highlight shell"><span class="prompt">$ </span>sudo apachectl restart</pre>

  <div class="note">
    <h3 class="notoc">Running OS X Server &gt;= 10.8 Mountain Lion with Web Services?</h3>
    <p>
      If you are running a sufficiently recent version of OS X Server (i.e. not the desktop version), and at the same time you are using the Web Services feature, then:
    </p>
    <ul>
      <li>The configuration file you need to create is not /etc/apache2/other/passenger.conf (despite what Homebrew tells you), but /Library/Server/Web/Config/apache2/httpd_server_app.conf.</li>
      <li>Do not use <code>apachectl</code> to restart Apache. Use the Web Services administration panel to restart Apache.</li>
    </ul>
  </div>
<% elsif integration_mode_type == :nginx %>
  <% step += 1 %>
  <h2>Step <%= step %>: enable the Passenger Nginx module and restart Nginx</h2>
  <p>
    Passenger is now installed, but it still needs to be enabled inside Nginx. Run <code>brew info <%= nginx_formula %></code> and follow the instructions in the "Caveats" section:
  </p>
  <pre class="highlight shell"><span class="prompt">$ </span>brew info <%= nginx_formula %>
<span class="output">...
==&gt; Caveats
...

To activate Passenger, ...
(...more instructions that you should follow...)</span></pre>

  <p>When you are done following the instructions, restart Nginx:</p>
  <pre class="highlight shell"><span class="prompt">$ </span>sudo launchctl unload /usr/local/opt/nginx<% if edition_type == :enterprise %>-passenger-enterprise<% end %>/*.plist
<span class="prompt">$ </span>sudo launchctl load /usr/local/opt/nginx<% if edition_type == :enterprise %>-passenger-enterprise<% end %>/*.plist</pre>
<% end %>

<% step += 1 %>
<h2>Step <%= step %>: check installation</h2>
<%= render_partial("/install/install/shared/postinstall_check.html",
      locals: locals.merge(
        apache_process_name: "apache2",
        passenger_bindir: "/usr/local/bin",
        passenger_sbindir: "/usr/local/bin")) %>
