---
section: indepth
---
<%
@page_title = "#{language_name} and Apache per-request environment variables"
content_for(:sidebar) { render_partial("../sidebar.html", locals: locals) }
%>

# <%= language_name %> and Apache per-request environment variables

If you are using Passenger in its [Apache integration mode](../integration_modes.html), then you may be aware of the fact that Apache supports [per-request environment variables](https://httpd.apache.org/docs/2.4/env.html). This page explains how Passenger passes per-request environment variables to the application.

<div class="note">
  <h3 class="notoc">This page is not talking about system environment variables!</h3>
  <p>
    There is a difference between operating system-level environment variables (which are controlled by the OS) and per-request environment variables (which are controlled by Apache). This page is only talking about the latter. If you are looking for information about OS-level environment variables, please refer to <a href="../environment_variables.html">About environment variables</a>. Refer to <a href="https://httpd.apache.org/docs/2.4/env.html">the Apache documentation</a> to understand the differences.
  </p>
</div>

**Table of contents**

<ol class="toc-container"><li>Loading...</li></ol>

## Examples of per-request environment variables

Per-request environment variables are set by various Apache features and Apache modules. Here are some examples:

 * Values set by [Shibboleth](https://shibboleth.net/), the identity federation Apache module.
 * Values set by the [RewriteRule](https://httpd.apache.org/docs/2.4/mod/mod_rewrite.html) `E` flag (provided by `mod_rewrite`).
 * Values set by the [SSLOptions StdEnvVars](https://httpd.apache.org/docs/2.4/mod/mod_ssl.html#envvars) configuration option (provided by `mod_ssl`).
 * Values set by the Apache [SetEnv](https://httpd.apache.org/docs/2.4/mod/mod_env.html#setenv) directive (provided by `mod_env`). These values are static (hardcoded into the configuration file) and do not change on a per-request basis.

Please refer to [Apache's documentation](https://httpd.apache.org/docs/2.4/env.html#setting) to learn more.

## How <%= language_name %> apps can access per-request environment variables

<% if language_type == :ruby %>
  <%= render_partial("/indepth/apache_per_request_envvars/ruby.md", locals: locals) %>
<% elsif language_type == :python %>
  <%= render_partial("/indepth/apache_per_request_envvars/python.md", locals: locals) %>
<% elsif language_type == :nodejs || language_type == :meteor %>
  <%= render_partial("/indepth/apache_per_request_envvars/nodejs.md", locals: locals) %>
<% else %>
  <% raise "Unrecognized language #{language_type}" %>
<% end %>
