---
section: install
---
<%
@page_title = "Uninstalling #{edition_title} #{integration_mode_name_as_passenger_suffix}"
content_for(:sidebar) { render_partial("../sidebar.html", locals: locals) }

if edition_type == :oss
  packages_debian = "passenger"
  packages_rpm = "passenger"
  gem_name = "passenger"
else
  packages_debian = "passenger-enterprise"
  packages_rpm = "passenger-enterprise"
  gem_name = "passenger-enterprise-server"
end

case integration_mode_type
when :nginx
  passenger_root = "passenger_root"
when :apache
  passenger_root = "PassengerRoot"
  if edition_type == :oss
    packages_debian << " libapache2-mod-passenger"
    packages_rpm << " mod_passenger"
  else
    packages_debian << " libapache2-mod-passenger-enterprise"
    packages_rpm << " mod_passenger_enterprise"
  end
end
%>

# Uninstalling <%= edition_title %> <%= integration_mode_name_as_passenger_suffix %>

Uninstalling <%= edition_long_title %> involves two steps. The first step is to remove the Passenger files. The second step is to remove any Passenger configuration from your system.

## Step 1: remove the Passenger files

Removing the Passenger files depends on how you installed Passenger.

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="vertical-align: middle">If&nbsp;Passenger&nbsp;is&nbsp;installed as follows...</th>
      <th style="vertical-align: middle">...then do this</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Phusion's <a href="../../apt_repo/">APT repository</a> for Debian/Ubuntu</td>
      <td><pre class="highlight">sudo apt-get remove -y <%= packages_debian %></pre></td>
    </tr>
    <tr>
      <td>Phusion's <a href="../../yum_repo/">YUM repository</a> for Red Hat/CentOS</td>
      <td><pre class="highlight">sudo yum remove -y <%= packages_rpm %></pre></td>
    </tr>
    <tr>
      <td>OS X + Homebrew</td>
      <td><pre class="highlight">brew uninstall passenger</pre></td>
    </tr>
    <tr>
      <td>Ruby gem</td>
      <td><pre class="highlight">gem uninstall <%= gem_name %></pre></td>
    </tr>
    <tr>
      <td>Source tarball</td>
      <td>
        Remove the directory in which you placed the extracted Passenger files.
        <% if passenger_root %>
          This directory is the same as the one pointed to by the <code><%= passenger_root %></code> configuration directive.
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

## Step 2: remove Passenger configuration from system

<% if integration_mode_type != :standalone %>
  Inspect all your <%= integration_mode_name %> configuration files, and remove any Passenger-related configuration options.
<% end %>

If you installed Passenger via a source tarball, then edit your shell startup file (e.g. /etc/bashrc) and ensure the Passenger bin directory is no longer in PATH.

<% if integration_mode_type == :nginx %>
  <div class="info">
    <h3 class="notoc">Tip: Nginx does not need to be recompiled</h3>
    <p>
      Nginx does not have to be recompiled after uninstalling Passenger. Altough Nginx will contain the Passenger Nginx module, the module will not do anything when all Passenger configuration directives are removed.
    </p>
  </div>
<% end %>
