# Moving Passenger to a different directory
<%= render_partial('/shared/current_selection', locals: { disabled_selections: [:lang] }) %>

If you installed Passenger through a source tarball then you can move the Passenger directory to another location. This is not possible if you used any of the other installation methods, such as [APT](<%= url_for "/advanced_guides/install_and_upgrade/standalone/apt_repo.html" %>), [YUM](<%= url_for "/advanced_guides/install_and_upgrade/standalone/yum_repo.html" %>) or [RubyGems](<%= url_for "/advanced_guides/install_and_upgrade/nginx/install/oss/rubygems_rvm.html" %>).

First, move the directory to whereever you like:

    mv /opt/passenger/passenger-5.0.12 /usr/local/passenger-5.0.12

<% if integration_mode_type == :nginx || integration_mode_type == :apache %>
  <p>
    Next, tell <%= integration_mode_name %> that Passenger has moved. Open your <%= integration_mode_type %> configuration file and set the <a href="<%= url_for "/references/config_reference/nginx/#passenger_root" %>">passenger_root</a> directive to the new location.
  </p>

  <div>
    <% if integration_mode_type == :nginx %>
      <pre class="highlight">passenger_root /usr/local/passenger-5.0.12;</pre>
    <% else %>
      <pre class="highlight">PassengerRoot /usr/local/passenger-5.0.12</pre>
    <% end %>
  </div>

  <p>
    Restart <%= integration_mode_name %> to finalize the change.
  </p>
<% end %>

Finally, if you added Passenger's `bin` subdirectory to `PATH` by editing /etc/bashrc (or a related shell startup file), then you must update your PATH with the new location. Open `/etc/bashrc` (or `/etc/bash.bashrc` on some systems) and change:

    export PATH=/opt/passenger/passenger-5.0.12/bin:$PATH

to:

    export PATH=/usr/local/passenger-5.0.12/bin:$PATH

Finally, restart all your shell sessions to activate the PATH change.

<div class="back-button">
  <a class="dark-button" href="<%= url_for "/advanced_guides/install_and_upgrade/index.html" %>">Back</a>
</div>
