---
title: Deploying to Production - Deploying an app on Cloud66
section: deploy_walkthrough
comments: false
deploy_walkthrough:
- :launch_server
- :installations
- :deploying_your_app
- :deploy_updates
disabled_langs:
- :python
- :node
- :meteor
---

# Deploying your app with Passenger
<%= render_partial('/shared/current_selection', locals: { disabled_selections: [:integration] }) %>

Unless specified otherwise, Cloud 66 automatically installs Passenger with NGINX for any classic stack!

<figure>
  <img src="<%= url_for '/walkthroughs/deploy/deploy_app/cloud66_front_page.png' %>" width="400" class="img-thumbnail">
  <figcaption>Cloud 66 front page</figcaption>
</figure>

Simply provide your git repository URL and let Cloud 66 take care of the rest.

<figure>
  <img src="<%= url_for '/walkthroughs/deploy/deploy_app/cloud66_git_repo.png' %>" width="400" class="img-thumbnail">
  <figcaption>Enter your git repo</figcaption>
</figure>

<figure>
  <img src="<%= url_for '/walkthroughs/deploy/deploy_app/cloud66_result.png' %>" width="400" class="img-thumbnail">
  <figcaption>Results!</figcaption>
</figure>

<div id="next-step">
  <h2>Next step: Deploying updates</h2>
  <a class="dark-button" href="<%= url_for "/tutorials/deploy_to_production/deploy_updates/index.html" %>">Continue</a>
</div>
