<ul>
  <span>Getting started</span>
  <li><%= nav_link('(un)Install & upgrade', '/advanced_guides/install_and_upgrade/') %></li>
  <li><%= nav_link('Developing with Passenger', '/advanced_guides/developing_with_passenger/') %></li>
  <li><%= nav_link('Config and optimization', '/advanced_guides/config_and_optimization/') %></li>
  <li><%= nav_link('Deployment and scaling', '/advanced_guides/deployment_and_scaling/') %></li>
  <li><%= nav_link('Docker support', '/advanced_guides/docker_support/') %></li>
  <li><%= nav_link('Troubleshooting', '/advanced_guides/troubleshooting/') %></li>
  <li><%= nav_link('In-depth', '/advanced_guides/in_depth/') %></li>
</ul>
