<ul>
  <span>Getting started</span>
  <li><%= nav_link('(un)Install & upgrade', '/advanced_guides/install_and_upgrade/index.html') %></li>
  <li><%= nav_link('Developing with Passenger', '/advanced_guides/developing_with_passenger/index.html') %></li>
  <li><%= nav_link('Config and optimization', '/advanced_guides/config_and_optimization/index.html') %></li>
  <li><%= nav_link('Deployment and scaling', '/advanced_guides/deployment_and_scaling/index.html') %></li>
  <li class="docker-support"><%= nav_link('Docker support', '/advanced_guides/docker_support/index.html') %><img src="/images/docker.svg" alt="docker logo"></li>
  <li><%= nav_link('Troubleshooting', '/advanced_guides/troubleshooting/index.html') %></li>
  <li><%= nav_link('In-depth', '/advanced_guides/in_depth/index.html') %></li>
</ul>
