<ul>
  <span>Deployment</span>
  <li><%= nav_link('Deploy to production', '/tutorials/deploy_to_production/', options: 'deploy') %></li>
  <li data-aws_only data-digital_ocean_only><%= nav_link('Launch server', '/tutorials/deploy_to_production/launch_server/', options: 'deploy') %></li>
  <li data-aws_only data-digital_ocean_only data-ownserver_only><%= nav_link('Installations', '/tutorials/deploy_to_production/installations/', options: 'deploy') %></li>
  <li><%= nav_link('Deploying your app', '/tutorials/deploy_to_production/deploying_your_app/', options: 'deploy') %></li>
  <li><%= nav_link('Deploy updates', '/tutorials/deploy_to_production/deploy_updates/', options: 'deploy') %></li>
  <li class="back-btn"><a class="light-button" href="/tutorials/deploy_to_production/">Back</a></li>
</ul>
