<ul>
  <span>Deployment</span>
  <li><%= nav_link('Deploy to production', '/tutorials/deploy_to_production/') %></li>
  <% if current_page.data.deploy_walkthrough.include? :launch_server %><li data-aws_only data-digital_ocean_only><%= nav_link('Launch server', '/tutorials/deploy_to_production/launch_server/') %></li><% end %>
  <% if current_page.data.deploy_walkthrough.include? :installations %><li><%= nav_link('Installations', '/tutorials/deploy_to_production/installations/') %></li><% end %>
  <% if current_page.data.deploy_walkthrough.include? :deploying_your_app %><li><%= nav_link('Deploying your app', '/tutorials/deploy_to_production/deploying_your_app/') %></li><% end %>
  <% if current_page.data.deploy_walkthrough.include? :deploy_updates %><li><%= nav_link('Deploy updates', '/tutorials/deploy_to_production/deploy_updates/') %></li><% end %>
  <li class="back-btn"><a class="light-button" href="/tutorials/deploy_to_production/<%= current_page.data.deploy_walkthrough[current_page.data.deploy_walkthrough.find_index{|s|s==current_page.url[Regexp.new("/deploy_to_production/([^/]+)/.*"),1]}.to_i-1] %>">Back</a></li>
</ul>
