<div class="dropdown <%= dropdown_type.downcase %>">
  <span>Current <%= dropdown_type %></span>
  <select name="<%= dropdown_type %>" style="background-image: url(<%= url_for "/images/#{dropdown_items[0].downcase}.svg" %>)">
    <% dropdown_items.each do |item| %>
      <option value="<%= item %>"><%= item %></option>
    <% end %>
  </select>
  <span class="arrow-down"></span>
</div>

<script>
  var select = document.querySelector('.<%= dropdown_type.downcase %> select');
  var arr = ["<%= dropdown_items.map(&:downcase).join('", "') %>"];

  select.addEventListener('change', function() {
    var location = window.location.href;
    var value = this.value.toLowerCase();

    arr.forEach(function(item) {
      if (location.indexOf(item) !== -1) {
        if (value === 'node') {
          value = 'nodejs';
        }
        window.location = location.replace(item, value);
      }

      // change logo if this's value doesn't change the content
      select.style.backgroundImage = "url(\"../../../images/" + value + ".svg\")";

      // save selection in localStorage
      localStorage.setItem(select.name, this.value);
    });
  });

  (function(element, array) {
    var location = window.location.href;
    var value = array.find(item => (location.indexOf(item) !== -1));
    if (value) {
      localStorage.setItem(element.name, value.replace(/^(.)(.*)/, (match, p1, p2) =>
        p1.toUpperCase() + p2.toLowerCase()
      ));
    }
  })(select, arr);

  (function (element) {
    var value = localStorage.getItem(element.name);
    var option = element.querySelector("option[value=" + value + "]");
    option.setAttribute('selected', true);
    element.style.backgroundImage = "url(\"../../../images/" + value.toLowerCase() + ".svg\")";
  })(select);
</script>
