<div class="dropdown <%= dropdown_type.downcase %>">
  <span>Current <%= dropdown_type %></span>
  <select name="<%= dropdown_type %>" style="background-image: url(<%= url_for "/images/#{dropdown_items[0].downcase}.svg" %>)">
    <% dropdown_items.each do |item| %>
      <option value="<%= item %>"><%= item %></option>
    <% end %>
  </select>
  <span class="arrow-down"></span>
</div>

<script>
  makeDropdown(<%= dropdown_type.inspect %>, <%= dropdown_items.inspect %>);
</script>
