<div class="icon-selection-row-container">
  <div class="icon-selection-row-intro">
    <% if locals.fetch(:title, true) %>
      <p class="lead">Are you using Passenger open source or Passenger Enterprise?</p>
    <% end %>
    <p>
      <a href="<%= url_for '/indepth/open_source_vs_enterprise.html' %>">Learn more about open source vs Enterprise</a>
    </p>
  </div>

  <div class="icon-selection-row-items">
    <a href="<%= oss_url %>" class="icon-selection-row-item oss">
      <img src="<%= url_for '/images/passenger144.png' %>" width="122" height="144" alt="Passenger open source">
      <span class="icon-selection-row-item-label icon-selection-row-item-label-long">I am using Passenger open souce</span>
    </a>
    <a href="<%= enterprise_url %>" class="icon-selection-row-item enterprise">
      <img src="<%= url_for '/images/passenger-enterprise144.png' %>" width="122" height="144" alt="Passenger Enterprise">
      <span class="icon-selection-row-item-label icon-selection-row-item-label-long">I am using Passenger Enterprise</span>
    </a>
  </div>

  <div class="icon-selection-row-footer">
    <p>
      <strong>Hint:</strong> if you don't remember buying the Enterprise edition, then you are probably using the open source edition.
    </p>
  </div>
</div>
