<%
if (defined?(item)).nil?
  item = :enterprise
end

case item
when :gls
  item_class = 'gls'
  item_image = url_for("/images/test.png")
  item_text = 'Passenger 6.0'
  item_link = 'https://www.phusionpassenger.com/passenger6'
when :enterprise
  item_class = 'fuse'
  item_image = url_for("/images/fuse.png")
  item_text = 'Try Enterprise'
  item_link = 'https://www.phusionpassenger.com/install'
when :stream
  item_class = 'stream'
  item_image = url_for("/images/stream.png")
  item_text = 'Live stream'
  item_link = 'https://www.phusionpassenger.com/install'
end
%>

<div id="new-item">
  <img class="<%= item_class %>" src="<%= item_image %>" alt="<%= item_text %>"/>
  <a class="light-button" href="<%= item_link %>"><%= item_text %></a>
  <img src="<%= url_for "/images/feedback_placeholder.svg" %>" alt="feedback"/>
</div>
