<%
section_separated_by = locals.fetch(:section_separated_by, :integration_mode)

if locals[:integration_mode_type] && section_separated_by == :integration_mode
  section_path = "#{config[:url_root]}#{locals[:section_path]}/#{locals[:integration_mode_type]}/"
elsif locals[:language_type] && section_separated_by == :language
  section_path = "#{config[:url_root]}#{locals[:section_path]}/#{locals[:language_type]}/"
else
  section_path = "#{config[:url_root]}#{locals[:section_path]}/"
end
%>

<div class="breadcrumb-container breadcrumb-container-main">
  <p class="breadcrumb-announcer">Current section:</p>

  <h2>
    <a href="<%= section_path %>">
      <span class="glyphicon glyphicon-<%= section_glyphicon %>"></span>
      <%= section_title %>
    </a>
  </h2>

  <p class="back-to-previous">
    <% if locals[:context] == :index %>
      <a href="<%= url_for "/index.html" %>">&laquo; Back to Library front page</a>
    <% else %>
      <a href="<%= section_path %>">&laquo; Back to section</a>
    <% end %>
  </p>
</div>

<% if locals[:integration_mode_type] %>
  <div class="breadcrumb-container">
    <p class="breadcrumb-announcer">Selected integration mode:</p>

    <h3><a href="#" data-toggle="modal" data-target="#integration_mode_selection_modal"><%= locals[:integration_mode_name] %></a></h3>

    <p class="back-to-previous">
      <a href="#" data-toggle="modal" data-target="#integration_mode_selection_modal">Change selection</a>
    </p>
  </div>

  <% append_to_layout_body do %>
    <div class="modal fade" id="integration_mode_selection_modal" tabindex="-1" role="dialog" style="display: none">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">&nbsp;</h4>
          </div>
          <div class="modal-body">
            <%= render_partial("/shared/ask_intmode.html", locals: locals.merge(
              dest: current_url_generalized(":intmode:", ["nginx", "apache", "standalone"]),
              force_choice: true
            )) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if locals[:language_type] %>
  <div class="breadcrumb-container">
    <p class="breadcrumb-announcer">Selected language:</p>

    <h3><a href="#" data-toggle="modal" data-target="#language_selection_modal"><%= locals[:language_name] %></a></h3>

    <p class="back-to-previous">
      <a href="#" data-toggle="modal" data-target="#language_selection_modal">Change selection</a>
    </p>
  </div>

  <% append_to_layout_body do %>
    <div class="modal fade" id="language_selection_modal" tabindex="-1" role="dialog" style="display: none">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">&nbsp;</h4>
          </div>
          <div class="modal-body">
            <%=
            options = {
              url_prefix: current_url_prefix_without_programming_language,
              url_suffix: current_url_suffix_without_programming_language
            }

            render_partial("/shared/ask_lang.html", locals: locals.merge(
              dest: current_url_generalized(":lang:", ["ruby", "python", "nodejs", "meteor"]),
              force_choice: true
              ))
            %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if locals[:edition_type] %>
  <div class="breadcrumb-container">
    <p class="breadcrumb-announcer">Selected edition:</p>

    <h3><a href="#" data-toggle="modal" data-target="#edition_selection_modal"><%= locals[:edition_long_title] %></a></h3>

    <p class="back-to-previous">
      <a href="#" data-toggle="modal" data-target="#edition_selection_modal">Change selection</a>
    </p>
  </div>

  <% append_to_layout_body do %>
    <div class="modal fade" id="edition_selection_modal" tabindex="-1" role="dialog" style="display: none">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <%= render_partial("/shared/ask_edition.html", locals: locals.merge(
              dest: current_url_generalized(":edition:", ["oss", "enterprise"]),
              force_choice: true
              ))
            %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
