<ul>
  <span>About Passenger</span>
  <li><%= nav_link('What is Passenger?', '/tutorials/what_is_passenger/index.html') %></li>
  <li><%= nav_link('Fundamental concepts?', '/tutorials/fundamental_concepts/ruby/index.html') %></li>
</ul>

<ul>
  <span>Getting started</span>
  <li><%= nav_link('Quickstart', '/tutorials/quickstart/ruby/index.html') %></li>
  <li><%= nav_link('Installation', '/tutorials/installation/ruby/index.html') %></li>
  <li><%= nav_link('The ‘passenger’ command', '/tutorials/the_passenger_command/ruby/index.html') %></li>
  <li><%= nav_link('Process management', '/tutorials/process_management/ruby/index.html') %></li>
  <li><%= nav_link('Reloading code', '/tutorials/reloading_code/ruby/index.html') %></li>
  <li><%= nav_link('The --help option', '/tutorials/the_help_option/ruby/index.html') %></li>
</ul>

<ul>
  <span>Deployment</span>
  <li><%= nav_link('Deploy to production', '/tutorials/deploy_to_production/index.html') %></li>
</ul>
