---
title: Installing Passenger (open source) in production using its Standalone
---
<%
locals[:type] = "standalone"
locals[:enterprise] = false
-%>
# Installing Passenger (open source) in production using its Standalone

### Introduction

<div style="text-align: center">
  <img src="<%= url_for '/images/passenger.png' %>" style="margin-right: 2em" alt="Passenger">
  <img src="<%= url_for '/images/nginx.png' %>" wwidth="144" hheight="128" alt="Nginx">
</div>

<%= render_partial("../shared/intro.md", locals: locals) %>

<h2 class="notoc">Select operating system</h2>

<%= render_partial("../shared/os_selector.html", locals: locals) %>

<div class="install_os install_os_any" style="display: none">
  <p><strong>Table of contents</strong></p>
  <ol class="toc-container"><li>Loading...</li></ol>
</div>

## Installation guide

<div class="install_os install_os_none" style="display: none">
  <p>Please select an operating system from the above dropdown.</p>
</div>

<%= render_partial("../shared/install.html", locals: locals) %>

## Conclusion

<%= render_partial("../shared/conclusion.html", locals: locals) %>
