<%
locals[:app_name] ||= "myapp"
%>

<p class="lead">The <code>passenger</code> command starts or stops a Passenger server in <a href="fundamental_concepts.html#multiple-integration-modes">Standalone mode</a>. In this section we will teach you how to use this command.</p>

**Table of contents**

<ol class="toc-container"><li>Loading...</li></ol>

<% if locals[:has_sample_app] %>
## Enter sample app

Ensure that you have prepared a sample application as described in [the previous step](preparing_sample_app.html), and that your command line prompt is inside that directory.

<pre class="highlight"><span class="prompt">$ </span>cd <%= locals[:app_name] %></pre>
<% end %>

## Starting a server

`passenger` is the most basic command, and is often used during development. If you have read [the 5 minute quickstart](../../start/<%= language_type %>.html) then you have already encountered this command. Throughout this basics walkthrough, we will encounter this command often.

You begin using Passenger Standalone by starting a Passenger Standalone server. This can be done with the `passenger start` command.

<pre class="highlight"><span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger start
<span class="output">======= Phusion Passenger Standalone web server started =======
PID file: /Users/phusion/<%= locals[:app_name] %>/tmp/pids/passenger.3000.pid   <span class="label label-info">1</span>
Log file: /Users/phusion/<%= locals[:app_name] %>/log/passenger.3000.log        <span class="label label-info">2</span>
Environment: development                     <span class="label label-info">3</span>
Accessible via: http://0.0.0.0:3000/         <span class="label label-info">4</span>

You can stop Phusion Passenger Standalone by pressing Ctrl-C.
===============================================================
<% if language_type == :meteor -%>
App 85125 stdout: [[[[[ ~/myapp ]]]]]   <span class="label label-info">5</span>
App 85125 stdout:
App 85125 stdout: => Started proxy.
App 85125 stdout: => Started MongoDB.
App 85125 stdout: => Started your app.
App 85125 stdout:
App 85125 stdout: => App running at: http://localhost:9822/  <span class="label label-info">6</span><% end %></span></pre>

During startup, Passenger prints its runtime parameters to the console. There are several things you see here:

 1. Passenger has created a PID file. The PID file contains the process ID of the Passenger instance, and allows other `passenger` subcommands to know which process to operate on.
 2. Passenger has created a log file. We will talk about logging later.
<% if language_type == :nodejs -%>
 3. Passenger has started your app under the `development` environment. This means that it has set the environment variable `NODE_ENV` to the value `development`.

   Various Node.js web frameworks -- for example Connect.js and Sails.js -- use the value of one of this environment variable to adjust their behavior.
<% elsif language_type == :ruby -%>
 3. Passenger has started your app under the `development` environment. This means that it has set the environment variables `RAILS_ENV` and `RACK_ENV` to the value `development`.

   Various Ruby web frameworks -- in particular Rails -- use the value of one of these environment variables to [adjust their behavior](http://guides.rubyonrails.org/configuring.html#rails-environment-settings).
<% else -%>
 3. Passenger has started your app under the `development` environment. This means that it has set the environment variable `PASSENGER_APP_ENV` to the value `development`.
<% end -%>
 4. Passenger is serving your app on [http://0.0.0.0:3000/](http://0.0.0.0:3000/).
<% if language_type == :meteor -%>
 5. Internally, Passenger runs your Meteor app by invoking the command `meteor run`. You can see the output of that command in the lines that are marked with "App xxx stdout". The xxx is the PID of the `meteor run` command.
 6. `meteor run` starts its own server at http://localhost:9822/. But that is not the URL you should visit. Passenger listens on its own port, manages Meteor, and forwards requests to Meteor through the address http://localhost:9822/. So you should **ignore this line**.
<% end -%>

If you go to http://0.0.0.0:3000/, you will see your application:

<pre class="highlight"><span class="prompt">$ </span>curl http://0.0.0.0:3000/
<span class="output">...your app's front page HTML...</span></pre>

All of these parameters can be customized. We will talk about customization later.

<% if language_type == :ruby %>
  <div class="note">
    <h3 id="bundle-exec-rails-server">You can also use "bundle exec rails server"</h3>
    <p>If you use Rails, then you can also run <code>bundle exec rails server</code>. As long as you have the above Gemfile entry, that command will start a Passenger-based server.</p>
  </div>
<% end %>

## Logs

Passenger itself logs things. The application itself may also log things. Here we will describe how logs are handled.

You have learned that Passenger Standalone has a log file. Your application probably logs things to a log file.
<% if language_type == :ruby -%>
For example, Rails apps log to `log/development.log` when run in development mode.
<% end -%>
These are two distinct log files: the Passenger log file is not the application log file.

Your application may also print to stdout or stderr. Passenger also considers these messages as logs.

Passenger handles all of these logs as follows:

 * Passenger's own logs are printed to the Passenger log file.
 * Anything the application logs to its log file, will end up there only, not in the Passenger log file.
 * Anything the application prints to stdout and stderr, are printed to the Passenger log file.
 * Passenger's own logs, the application log file, and anything the application prints to stdout and stderr, are printed to the terminal.

   There is just one caveat here. Passenger can only print the application log file to the terminal, if the log file is named `log/<ENVIRONMENT NAME>.log`. <% if language_type == :ruby %>This is true for most Rails apps, at least.<% end %>

## Stopping the server

If you stop Passenger, Passenger will stop your app.

There are two ways to stop the server. The first is by pressing Ctrl-C in the terminal. The second way is by running `passenger stop`.

### Ctrl-C

Let us try out the Ctrl-C method. Go to the terminal where the Passenger server was started, and press Ctrl-C there. You should see that it stops.

<pre class="highlight"><span class="c"># This is what you typed before:
$ <%= passenger_command_prefix(locals) %>passenger start
...</span>

<span class="c"># Now press Ctrl-C:</span>
<span class="output">^C
Stopping web server... done!</span></pre>

### 'passenger stop'

Let us also try out the `passenger stop` command. First, start Passenger up again:

<pre class="highlight"><span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger start</pre>

Open a seperate terminal, change the working directory to your application, and run `passenger stop`.

<% if locals[:has_sample_app] %>
<pre class="highlight"><span class="prompt">$ </span>cd ~/<%= locals[:app_name] %>
<span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger stop</pre>
<% else %>
<pre class="highlight"><span class="prompt">$ </span>cd /path-to-your-app
<span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger stop</pre>
<% end %>

When you switch back to the first terminal, you should see that Passenger has indeed stopped.

## Configuration

### Command line options

Most configuration is done by customizing the options passed to the `passenger` command. For example, you can customize the port that Passenger listens on using `--port`, and you can customize the location of the log file using `--log-file`.

Here is an example invocation:

<pre class="highlight"><span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger start --port 4000 --log-file awesome.log
<span class="output">======= Phusion Passenger Standalone web server started =======
PID file: /Users/phusion/<%= locals[:app_name] %>/tmp/pids/passenger.4000.pid
Log file: /Users/phusion/<%= locals[:app_name] %>/awesome.log
Environment: development
Accessible via: http://0.0.0.0:4000/

You can stop Phusion Passenger Standalone by pressing Ctrl-C.
===============================================================</span></pre>

Many more configuration options are available. You can see all available options by passing `--help`:

<pre class="highlight"><span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger start --help
<span class="output">Usage: passenger start [DIRECTORY] [OPTIONS]
Starts Phusion Passenger Standalone and serve one or more web applications.

Server options:
    -a, --address HOST               Bind to the given address.
                                     Default: 0.0.0.0
    -p, --port NUMBER                Use the given port number. Default: 3000
...</span></pre>

<!-- TODO: link to command line options reference -->

### Passengerfile.json

Command line options are great for temporarily changing a parameter, but if you want to persist a change, then it is best to store configuration in `Passengerfile.json`. Passenger Standalone automatically loads configuration from that file if it exists.

Configuration in this file overrides command line options. The configuration file format is JSON.

Here is an example Passengerfile.json which customizes the port, log file path and environment name:

~~~json
{
    "port": 4000,
    "log_file": "awesome.log",
    "environment": "staging"
}
~~~

All command line options have a configuration file equivalent. Just omit the initial two dashes `--`, and replace other dashes `-` with underscores `_`.

<!-- TODO: link to configuration reference -->

## Next step

Next up we will consider process management, a key feature in Passenger. Process management is what allows Passenger to keep your application stable and to maximize performance.

<a href="process_management.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
