---
section: install
---
<%
@page_title = "Moving Passenger to a different directory - #{integration_mode_name}"
content_for(:sidebar) { render_partial("sidebar.html", locals: locals) }

case integration_mode_type
when :nginx
  passenger_root = "passenger_root"
  passenger_root_doc_url = url_for("/config/nginx/reference/index.html") + "#passenger_root"
when :apache
  passenger_root = "PassengerRoot"
  passenger_root_doc_url = url_for("/config/apache/reference/index.html") + "#passengerroot"
end
%>

# Moving Passenger to a different directory

If you installed Passenger through a source tarball then you can move the Passenger directory to another location. This is not possible if you used any of the other installation methods, such as [APT](apt_repo/), [YUM](yum_repo/) or [RubyGems](install/oss/rubygems_rvm/).

First, move the directory to whereever you like:

    mv /opt/passenger/passenger-5.0.12 /usr/local/passenger-5.0.12

<% if integration_mode_type == :nginx || integration_mode_type == :apache %>
  <p>
    Next, tell <%= integration_mode_name %> that Passenger has moved. Open your <%= integration_mode_type %> configuration file and set the <a href="<%=h passenger_root_doc_url %>"><%= passenger_root %></a> directive to the new location.
  </p>

  <div>
    <% if integration_mode_type == :nginx %>
      <pre class="highlight">passenger_root /usr/local/passenger-5.0.12;</pre>
    <% else %>
      <pre class="highlight">PassengerRoot /usr/local/passenger-5.0.12</pre>
    <% end %>
  </div>

  <p>
    Restart <%= integration_mode_name %> to finalize the change.
  </p>
<% end %>

Finally, if you added Passenger's `bin` subdirectory to `PATH` by editing /etc/bashrc (or a related shell startup file), then you must update your PATH with the new location. Open `/etc/bashrc` (or `/etc/bash.bashrc` on some systems) and change:

    export PATH=/opt/passenger/passenger-5.0.12/bin:$PATH

to:

    export PATH=/usr/local/passenger-5.0.12/bin:$PATH

Finally, restart all your shell sessions to activate the PATH change.
