---
title: Installation, upgrade and uninstallation
section: install
comments: false
skip_search_index: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Installation, upgrade and uninstallation</h1>
      <p>Learn about topics related to installing, upgrading and uninstalling Passenger.</p>
    </div>
  </div>
<% end %>

<div class="icon-selection-row-container">
  <div class="icon-selection-row-intro">
    <p class="lead">Please select the integration mode you are interested in.</p>
    <p>
      <a href="<%= url_for '/indepth/integration_modes.html' %>">What is an integration mode?</a> |
      <a href="<%= url_for '/indepth/integration_modes.html' %>">Which one should I pick?</a>
    </p>
  </div>

  <div class="icon-selection-row-items">
    <a href="<%= url_for '/install/nginx/index.html' %>" class="icon-selection-row-item">
      <img src="<%= url_for '/images/nginx.png' %>" width="96" height="96" alt="Ruby">
      <span class="icon-selection-row-item-label">Nginx</span>
    </a>
    <a href="<%= url_for '/install/apache/index.html' %>" class="icon-selection-row-item">
      <img src="<%= url_for '/images/apache.png' %>" width="96" height="96" alt="Python">
      <span class="icon-selection-row-item-label">Apache</span>
    </a>
    <a href="<%= url_for '/install/standalone.html' %>" class="icon-selection-row-item">
      <img src="<%= url_for '/images/passenger.png' %>" width="96" height="96" alt="Node.js">
      <span class="icon-selection-row-item-label">Standalone</span>
    </a>
  </div>
</div>
