---
title: Introduction for Node.js developers
section: intro
---
# Introduction for Node.js developers

Learn about what Passenger is, how it fits in the stack and what features it provides. Learn how Passenger helps you during development.

_Never used Passenger before? You should read [the 5 minute getting started tutorial](../../start/nodejs.html) first._

We're going to cover these topics:

 1. [Conceptual overview](<%= url_for "/walkthroughs/intro/nodejs/conceptual_overview.html" %>)
    <br><small>Learn what an app server is and how it compares to -- say -- Forever, PM2, Cluster and Nginx.</small>
 2. [Process management](<%= url_for "/walkthroughs/intro/nodejs/process_management.html" %>)
    <br><small>Managing processes is a core feature of Passenger. Learn why, how that affects you and how you use Passenger's command line tools to interact with processes.</small>
 3. [Customizing Passenger](<%= url_for "/intro/nodejs/customizing.html" %>)
    <br><small>Passenger is highly configurable. Learn the basics of customizing Passenger.</small>
 4. [Code reloading](<%= url_for "/intro/nodejs/code_reloading.html" %>)
    <br><small>Learn how Passenger helps you reload your application's code during development.</small>
 5. [Restarting the application](<%= url_for "/intro/nodejs/restarting.html" %>)
    <br><small>Learn about restarting Passenger and the application, e.g. in order to activate certain changes.</small>
 6. [Conclusion](<%= url_for "/intro/ruby/conclusion.html" %>)
    <br><small>Wrapping up, next steps.</small>

<a href="conceptual_overview.html" class="btn btn-primary btn-lg">Start reading: Conceptual overview &raquo;</a>