<%
step = (locals[:initial_step] || 1) - 1
step_format ||= "Step %s:"
heading_level ||= 2

def header(level, title)
  "<h#{level}>#{title}</h#{level}>"
end
%>

<% step += 1 %>
<%= header(heading_level, "#{step_format % step} download and install your license key") %>
<p>
  Before you can install Passenger Enterprise, you need to download and install your license key. This is a regular file that you need to copy to your production server.
</p>
<p>
  Please <a href="https://www.phusionpassenger.com/customers" target="_blank">login to the Passenger Enterprise Customer Area</a>.
</p>
<figure>
  <img src="<%= url_for '/advanced_guides/install_and_upgrade/install_os_content/enterprise_customer_area.png' %>" width="300" class="img-thumbnail">
  <figcaption>Customer Area login screen</figcaption>
</figure>
<p>
  Click on the Install button in the Customer Area.
</p>
<figure>
  <img src="<%= url_for '/advanced_guides/install_and_upgrade/install_os_content/install_enterprise.png' %>" width="300" class="img-thumbnail">
  <figcaption>Customer Area install button</figcaption>
</figure>
<p>
  Click on the button to download the license key.
</p>
<figure>
  <img src="<%= url_for '/advanced_guides/install_and_upgrade/install_os_content/license_key.png' %>" width="300" class="img-thumbnail">
  <figcaption>License key download button in the Customer Area</figcaption>
</figure>
<p>
  The license key will be downloaded to your local computer. Copy this license key file to your production server, for example using <code>scp</code>:
</p>
<pre class="highlight"><span class="prompt">local-computer$ </span>cd /path-to-your-local-computer-download-folder
<% if locals[:infrastructure_type] == :aws -%>
<span class="prompt">local-computer$ </span>scp -i <span class="o">your_ec2_key.pem</span> passenger-enterprise-license <span class="o">adminuser</span>@yourserver.com:
<% else -%>
<span class="prompt">local-computer$ </span>scp passenger-enterprise-license <span class="o">adminuser</span>@yourserver.com:
<% end -%></pre>

<p>
  Replace <code>adminuser</code> with the name of an account with administrator privileges or sudo privileges.
  <% if locals[:infrastructure_type] == :aws -%>
    This is usually <code>admin</code>, <code>ec2-user</code>, <code>root</code> or <code>ubuntu</code>.
  <% end %>
</p>

<p>
  Finally, login to your production server and save the file as <code>/etc/passenger-enterprise-license</code>:
</p>
<pre class="highlight">
<% if locals[:infrastructure_type] == :aws -%>
<span class="prompt">local-computer$ </span>ssh -i <span class="o">your_ec2_key.pem</span> <span class="o">adminuser</span></span>@yourserver.com
<% else -%>
<span class="prompt">local-computer$ </span>ssh <span class="o">adminuser</span>@yourserver.com
<% end -%>
<span class="prompt">production-server$ </span>sudo mv passenger-enterprise-license /etc/passenger-enterprise-license
<span class="prompt">production-server$ </span>chmod 644 /etc/passenger-enterprise-license<% if locals[:os_config_class] == :redhat %>
<span class="prompt">production-server$ </span>/sbin/restorecon /etc/passenger-enterprise-license <span class="c unselectable"># this command fixes the file's SELinux context.</span><% end %></pre>

<% if locals.fetch(:instruct_download_token, true) %>
  <% step += 1 %>
  <%= header(heading_level, "#{step_format % step} obtain your download token") %>
  <p>
    Your download token is needed in order to install Passenger Enterprise. In the Customer Area, find your download token and copy it to your clipboard.
  </p>
  <figure>
    <img src="<%= url_for '/advanced_guides/install_and_upgrade/install_os_content/download_token.png' %>" width="300" class="img-thumbnail">
    <figcaption>Exhibit of the download token in the Customer Area</figcaption>
  </figure>
<% end %>

<%
result ||= {}
result[:step] = step
%>
