<%
case os_config_type
when :el8
  os_config_description = "Red Hat 8 / CentOS 8 (with RPM)"
when :el7
  os_config_description = "Red Hat 7 / CentOS 7 (with RPM)"
end

case integration_mode_type
when :apache
  if edition_type == :oss
    packages = "mod_passenger"
    packages_title = "Passenger + Apache module"
  else
    packages = "mod_passenger_enterprise"
    packages_title = "Passenger Enterprise + Apache module"
  end
when :nginx
    if edition_type == :oss
      packages = "nginx-mod-http-passenger"
      packages_title = "Passenger dynamic Nginx module"
    else
      packages = "nginx-mod-http-passenger-enterprise"
      packages_title = "Passenger Enterprise dynamic Nginx module"
    end
else
  if edition_type == :oss
    packages = "passenger"
    packages_title = "Passenger"
  else
    packages = "passenger-enterprise"
    packages_title = "Passenger Enterprise"
  end
end

step = 0
%>
<% unless locals[:no_back_button] %>
<h1>Installing <%= edition_title %><br>
<small><%= os_config_description %></small></h1>
<%= render_partial('/shared/current_selection', locals: { disabled_selections: [:lang] }) %>

<div class="info">
  This page describes the installation of Passenger through the following operating system or installation method: <strong style="font-size: 120%"><%= os_config_description %></strong>. Not the configuration you are looking for? <a href="../#select_os">Go back to the operating system / installation method selection menu.</a>
</div>

<div class="warning">
  <h3 class="notoc">No Amazon Linux RPMs</h3>
  <p>
    Our YUM repository may not be used with Amazon Linux. Amazon Linux is too different from RHEL and CentOS. If you are on Amazon Linux, please <a href="../#select_os">go back to the operating system selection menu</a> and select "Other / OS independent (generic installation method)".
  </p>
</div>

<div>
  <p><strong>Table of contents</strong></p>
  <ul class="toc-container"><li>Loading...</li></ul>
</div>
<% end %>
<% if edition_type == :enterprise %>
  <%=
  result = {}
  output = render_partial("/advanced_guides/install_and_upgrade/install_os_content/enterprise_preamble", locals: locals.merge(result: result))
  step = result[:step]
  output
  %>
  <div class="alert info" role="alert" style="margin: 4em 0">From this point on, all commands that you run are supposed to be run on the production server, not on your local computer.</div>
<% end %>

<% if integration_mode_type == :nginx && os_config_type == :el7 %>
  <div class="info replace_nginx_package_message">In May 2020, the CentOS 7 / RHEL 7 packages for Passenger were changed from a static to a dynamic module package. If you have the old package, please uninstall it first:<br>
    <ul>
      <li><code>sudo yum remove nginx*</code></li>
    </ul>
  </div>
<% end %>

<% step += 1 %>
<h2 id="enable_epel">Step <%= step %>: enable EPEL</h2>
<p>
   The instructions differ depending on whether you are on Red Hat or CentOS. The second step is only necessary on Red Hat.
</p>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td><strong>Step 1:</strong><br>install EPEL package</td>
      <td>
        Passenger requires <a href="https://fedoraproject.org/wiki/EPEL">EPEL</a>.
        <pre class="highlight"><span class="prompt">$ </span>sudo yum install -y yum-utils
<span class="prompt">$ </span>sudo yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-$(< /etc/redhat-release tr -dc '0-9.'|cut -d \. -f1).noarch.rpm
<span class="prompt">$ </span>sudo yum-config-manager --enable epel
<span class="prompt">$ </span>sudo yum clean all && sudo yum update -y</pre>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Step 2 (RHEL only):</strong><br>
        enable the 'optional' repository
      </td>
      <td>
          Enable the <em>optional</em> repository (<em>rhel-<%= os_config_type.to_s.delete_prefix('el') %>-server-optional-rpms</em>). This can be done by enabling the RHEL optional <a href="https://access.redhat.com/kb/docs/DOC-11313">subchannel</a> for RHN-Classic. For certificate-based subscriptions see <a href="https://access.redhat.com/site/documentation/en-US/Red_Hat_Subscription_Management/1/html/RHSM/entitlements-and-yum.html#supplementary-repos">Red Hat Subscription Management Guide</a>.
          The following commands may be helpful, but are not thoroughly tested.
          <pre class="highlight"><span class="prompt">$ </span>sudo subscription-manager register --username $RHN_USERNAME --password $RHN_PASSWORD --auto-attach
<span class="prompt">$ </span>sudo subscription-manager repos --enable rhel-<%= os_config_type.to_s.delete_prefix('el') %>-server-optional-rpms</pre>
      </td>
    </tr>
  </tbody>
</table>

<% step += 1 %>
<h2 id="install_packages">Step <%= step %>: repair potential system issues</h2>
<p>These commands will fix common issues that prevent yum from installing Passenger</p>
<pre class="highlight shell"><code><span class="c unselectable"># Ensure curl and nss/openssl are sufficiently up-to-date to talk to the repo</span>
sudo yum update -y

date
<span class="c unselectable"># if the output of date is wrong, please follow these instructions to install ntp</span>
<span class="el7">
sudo yum install -y ntp
sudo chkconfig ntpd on
sudo ntpdate pool.ntp.org
sudo service ntpd start
</span>
<span class="el8">
sudo yum -y install chrony
sudo systemctl enable chronyd
sudo firewall-cmd --permanent --add-service=ntp
sudo firewall-cmd --reload
sudo systemctl restart chronyd
</span>
</code></pre>

<% step += 1 %>
<h2 id="install_packages">Step <%= step %>: install Passenger packages</h2>
<p>
  These commands will install <%= packages_title %> through Phusion's YUM repository.
  <% if edition_type == :enterprise %>
    Replace <code>YOUR_DOWNLOAD_TOKEN</code> with the download token you obtained earlier.
  <% end %>
</p>

<p class="warning dynamic_nginx_package">
  If you want to use our packaged Nginx module, you must use your distro's provided Nginx package. If for example you have the repo provided by NGINX setup, you will instead need to <a href="<%= url_for "/advanced_guides/install_and_upgrade/nginx/install_as_nginx_module.html" %>#dynamic-module">compile a dynamic module compatible with that Nginx.</a>
</p>

<pre class="highlight shell"><code><span class="c unselectable"># Install various prerequisites</span>
sudo yum install -y <% if os_config_type.to_s.delete_prefix('el').to_i < 8 %>pygpgme<%end%> curl

<span class="c unselectable"># Add our <span class="redhat_distro_name"><%= os_config_type %></span> YUM repository</span>
<% if edition_type == :oss -%>
sudo curl --fail -sSLo /etc/yum.repos.d/passenger.repo https://oss-binaries.phusionpassenger.com/yum/definitions/el-passenger.repo
<% else -%>
unset HISTFILE
sudo curl --fail -sSL -u download:<span class="si">YOUR_DOWNLOAD_TOKEN</span> -o /etc/yum.repos.d/passenger.repo https://www.phusionpassenger.com/enterprise_yum/el-passenger-enterprise.repo
sudo chown root: /etc/yum.repos.d/passenger.repo
sudo chmod 600 /etc/yum.repos.d/passenger.repo
<% end -%>

<span class="c unselectable"># Install <%= packages_title %></span>
sudo yum install -y <%= packages %> || { sudo yum-config-manager --enable cr && sudo yum install -y <%= packages %> ; }</code></pre>
<% if integration_mode_type == :apache %>
  <% step += 1 %>
  <h2>Step <%= step %>: restart Apache</h2>
  <p>
    Now that the Passenger Apache module is installed, restart Apache to ensure that Passenger is activated:
  </p>
  <div>
  <pre class="highlight"><span class="prompt">$</span> sudo systemctl restart httpd</pre>
  </div>
<% elsif integration_mode_type == :nginx %>
<% step += 1 %>
  <h2>Step <%= step %>: restart Nginx</h2>
  <p>
    Now that the Passenger Nginx module is installed, restart Nginx to ensure that Passenger is activated:
  </p>
  <div>
      <pre class="highlight"><span class="prompt">$</span> sudo systemctl restart nginx</pre>
  </div>
<% end %>

<% step += 1 %>
<h2>Step <%= step %>: check installation</h2>
<%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/postinstall_check",
      locals: locals.merge(
        apache_process_name: "httpd",
        passenger_bindir: "/usr/bin",
        passenger_sbindir: "/usr/sbin")) %>

<% step += 1 %>
<h2>Step <%= step %>: update regularly</h2>
<p>
  <% if integration_mode_type != :standalone %>
    <%= integration_mode_type.capitalize %> updates,
  <% end %>
  Passenger updates and system updates are delivered through the YUM package manager regularly. You should run the following command regularly to keep them up to date:
</p>
<pre class="highlight"><span class="prompt">$ </span>sudo yum update</pre>
<% if integration_mode_type != :standalone %>
  <p>
    After an update, you should restart <%= integration_mode_type.capitalize %>. Doing so will automatically restart Passenger too.
  </p>
<% else %>
  <p>
    After an update, you should restart all your Passenger instances so that the updates take effect.
  </p>
<% end %>

<% unless locals[:no_back_button] %>
<div class="back-button">
  <a class="dark-button" href="<%= url_for "/advanced_guides/install_and_upgrade/index.html" %>">Back</a>
</div>
<% end %>
