<%
if edition_type == :oss
  tarball_basename = "passenger"
else
  tarball_basename = "passenger-enterprise-server"
end
step = 0
%>

<% if integration_mode_type == :nginx %>
  <h2 id="note_about_nginx">Before you begin: a note about Nginx</h2>
  <%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/nginx_preamble", locals: locals) %>
<% end %>

<h2>Installation</h2>

<% if edition_type == :enterprise %>
  <%=
  result = {}
  output = render_partial("/advanced_guides/install_and_upgrade/install_os_content/enterprise_preamble",
    locals: locals.merge(instruct_download_token: false, result: result, heading_level: 3))
  step = result[:step]
  output
  %>
<% end %>

<% step += 1 %>
<% if edition_type == :oss %>
  <h3>Step <%= step %>: download and extract tarball</h3>
  <p>Download the latest Passenger source tarball.</p>
  <p>
    <a href="https://www.phusionpassenger.com/latest_stable_tarball" class="btn btn-primary">
      <span class="glyphicon glyphicon-download"></span>
      Download tarball
    </a>
  </p>
  <p>
    Extract the tarball to some place <strong>permanent</strong>. Replace X.X.X with the Passenger version, and <code>/somewhere-permanent</code> with the actual directory path that you want to extract to. <code>/opt</code> is usually a good directory.
  </p>
  <pre class="highlight shell"><span class="prompt">$ </span>tar -xzvf passenger-<span class="o">X.X.X</span>.tar.gz -C <span class="o">/somewhere-permanent</span></pre>
<% else %>
  <h3>Step <%= step %>: download tarball, upload to server and extract</h3>
  <p>
    Go to the "Files" section in the Customer Area and download the tar.gz file of the Passenger Enterprise version you want. Copy that file to your production server, for example using <code>scp</code>:
  </p>
  <pre class="highlight"><span class="prompt">local-computer$ </span>cd /path-to-your-local-computer-download-folder
<% if locals[:infrastructure_type] == :aws -%>
<span class="prompt">local-computer$ </span>scp -i <span class="o">your_ec2_key.pem</span> passenger-enterprise-server-<span class="o">X.X.X</span>.tar.gz <span class="o">adminuser</span>@yourserver.com:
<% else -%>
<span class="prompt">local-computer$ </span>scp passenger-enterprise-server-<span class="o">X.X.X</span>.tar.gz admin@yourserver.com:
<% end -%></pre>
  <p>(Replace X.X.X with the Passenger Enterprise version)</p>

  <p>
    On your production server, extract the tarball to some place <strong>permanent</strong>. Replace <code>/somewhere-permanent</code> with the actual directory path that you want to extract to. <code>/opt</code> is usually a good directory.
  </p>
  <pre class="highlight shell"><span class="prompt">production-server$ </span>tar -xzvf passenger-enterprise-server-<span class="o">X.X.X</span>.tar.gz -C <span class="o">/somewhere-permanent</span></pre>

  <div class="alert alert-info" role="alert" style="margin: 4em 0">From this point on, all commands that you run are supposed to be run on the production server, not on your local computer.</div>
<% end %>

<% step += 1 %>
<h3>Step <%= step %>: install Ruby</h3>
<% if locals[:language_type].nil? || locals[:language_type] == :ruby %>
  <em>
    Is Ruby already installed? Then
    <% if integration_mode_type == :nginx %>
      <a href="#uninstall_os_nginx">skip to the next step</a>.
    <% else %>
      <a href="#add_passenger_to_path">skip to the next step</a>.
    <% end %>
  </em>
<% end %>
<%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/ruby") %>

<% if integration_mode_type == :nginx %>
  <% step += 1 %>
  <h3 id="uninstall_os_nginx">Step <%= step %> (optional): uninstall the OS-installed Nginx</h3>
  <%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/uninstall_nginx_os_package", locals: locals) %>
<% end %>

<% step += 1 %>
<h3 id="add_passenger_to_path">Step <%= step %>: add Passenger to PATH</h3>
<p>
  Add the Passenger <code>bin</code> directory to your PATH, so that your shell can locate the Passenger commands.
</p>
<p>
  Open your shell's system-wide startup file. If you're using bash, this is usually <code>/etc/bashrc</code> or <code>/etc/bash.bashrc</code>. Inside that file, add this to the end:
</p>
<pre class="highlight shell">PATH=<span class="o">/somewhere-permanent</span>/<%= tarball_basename %>-<span class="o">X.X.X</span>/bin:$PATH
export PATH</pre>
<p>
  Again, replace X.X.X with the Passenger version, and <code>/somewhere-permanent</code> with the actual directory path.
</p>
<p>
  When you're done, restart all your shells so that your new PATH takes effect.
</p>
<div class="note">
  Make sure your bashrc is actually included by your bash profile, which might not be the case if you created the user with <code>useradd</code> instead of <code>adduser</code> for example.
</div>

<% if integration_mode_type == :apache %>
  <% step += 1 %>
  <h3>Step <%= step %>: run the Passenger Apache module installer</h3>
  <p>
    Run the Passenger Apache module installer and follow the on-screen instructions:
  </p>
  <pre class="highlight"><span class="prompt">$ </span>passenger-install-apache2-module</pre>

  <p>
    At the end of the installation process, you will be asked to copy and paste a configuration snippet (containing <code>LoadModule</code>, <code>PassengerRoot</code>, etc.) into your Apache configuration file.
  </p>
  <p>
    Different operating systems and Apache installations have different conventions with regard to where the Apache configuration file is and how it is organized. Please read <a href="<%= url_for '/install/apache/working_with_the_apache_config_file.html' %>">Working with the Apache configuration file</a> if you are not familiar with it. That page is especially of interest for macOS Server &gt;= 10.8 users because the configuration file may be at a surprising location.
  </p>
<% elsif integration_mode_type == :nginx %>
  <% step += 1 %>
  <h3>Step <%= step %>: run the Passenger Nginx module installer</h3>
  <p>
    Run the Passenger Nginx module installer and follow the on-screen instructions:
  </p>
  <pre class="highlight"><span class="prompt">$ </span>passenger-install-nginx-module</pre>
<% end %>

<% step += 1 %>
<h3>Step <%= step %>: validate installation</h3>
<%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/postinstall_check",
      locals: locals.merge(apache_process_name: "apache2")) %>

<% if integration_mode_type == :nginx %>
  <h2 id="using_nginx">Using Nginx</h2>
  <%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/using_nginx", locals: locals) %>
<% end %>

<h2>FAQ</h2>
<% if integration_mode_type == :nginx %>
  <%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/nginx_faq", locals: locals) %>
<% end %>
<% if edition_type == :enterprise %>
  <h3>How do I automate the downloading of the tarball?</h3>
  <p>
    You can use HTTP basic authentication.
  </p>
  <p>
    In the Customer Area, right-click on the download button for the tarball and click "Copy link URL". That is the URL for the tarball. You can automate the download of that tarball by using <code>download</code> as the HTTP username and your download key as the HTTP password.
  </p>
  <p>
    Here is an example using curl:
  </p>
  <pre class="highlight"><span class="prompt">$ </span>unset HISTFILE
<span class="prompt">$ </span>VERSION=5.0.30 && curl --fail -L -o passenger-enterprise-server-${VERSION}.tar.gz -u download:<span class="si">YOUR_DOWNLOAD_KEY</span> "https://www.phusionpassenger.com/orders/download?dir=${VERSION}&amp;file=passenger-enterprise-server-${VERSION}.tar.gz"</pre>
<% end %>
<%= render_partial("/advanced_guides/install_and_upgrade/install_os_content/source_compilation_faq", locals: locals) %>
