---
title: What is Passenger?
multisection: true
comments: false
skip_search: true
languages:
  - Ruby
  - Python
  - Node
  - Meteor

integrations:
  - Nginx
  - Apache
  - Standalone
---

<div id="what-is-passenger">
  <h1 class="solo-h1">What is Passenger?</h1>
  <p>Phusion Passenger is an <label>open source</label> <b>web application server</b>.
  It handles HTTP requests, manages processes and resources, and enables administration,
  monitoring and problem diagnosis.</p>

  <div class="video-player">
    <video id="video" preload="metadata" controls>
      <source src="https://player.vimeo.com/external/224923750.hd.mp4?s=6931550c8a2bedabba0822a6ec7966c45ee1fbc4&profile_id=174" type="video/mp4">
    </video>
  </div>

  <p class="video-sub-text">Phusion Passenger - the smart app server</p>
  <p>Passenger is very easy to use, makes deploying in production much easier and is scalable. If you aren't already familiar with the benefits, you can <a href="https://www.phusionpassenger.com/advantages">learn more about them</a>.</p>

  <p>Passenger supports multiple programming languages, of which <%= render_partial("/shared/lang") %> is one.
  Passenger can also serve multiple applications at the same time (it is multitenant).</p>

  <div class="supported-logos">
    <strong>Supported languages:</strong>
    <div class="logos">
    <% current_page.data.languages.each do |language| %>
      <div>
        <%= tag :img, :src => "/images/#{language.downcase}.svg" %>
        <span><%= language %></span>
      </div>
    <% end %>
    </div>

    <strong>Supported integrations:</strong>
    <div class="logos">
    <% current_page.data.integrations.each do |integration| %>
      <div>
        <%= tag :img, :src => "/images/#{integration.downcase}.svg" %>
        <span><%= integration %></span>
      </div>
    <% end %>
    </div>

    <div id="next-step">
      <h2>Next step: Fundamental concepts</h2>
      <a href="/tutorials/fundamental_concepts/ruby/" class="dark-button">Continue</a>
    </div>
  </div>
</div>
