---
multisection: true
comments: false
skip_search: true
---
<% content_for :masthead do %>
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <% if config[:display_guides] %>
        <h1 class="home-title">
          <span class="home-title-brand">Phusion</span>
          <span class="home-title-name">Passenger Library</span>
        </h1>
        <p class="lead">Build, deploy, manage and scale web apps with Passenger and its world-class documentation.</p>
      <% else %>
        <h1 class="home-title">
          <span class="home-title-brand">Passenger</span>
          <span class="home-title-name">Walkthroughs</span>
        </h1>
        <p class="lead">A gentle beginner's guide to Passenger.</p>
      <% end %>
      <p class="lead"><a href="walkthroughs/start/" class="btn btn-outline-inverse btn-lg">Get started</a></p>
    </div>
  </div>
<% end %>

<% if config[:display_guides] %>
  <section id="site_intro" class="site-intro">
    <p class="home-welcome-message">
      Welcome to the Phusion Passenger Library, a comprehensive online resource about Ruby, Python and Node.js deployment, administration, scaling, high availability and more &mdash; through the use of the <a href="https://www.phusionpassenger.com">Phusion Passenger</a> application server. The entire library is <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">open source</a>. Think anything can be improved? Just <a href="https://github.com/phusion/passenger_library">edit the content on Github</a>.
    </p>
  </section>
<% end %>

<section class="bs-docs-section">
  <div class="section-header">
    <h2 id="walkthroughs" class="section-header">Walkthroughs</h2>
    <p class="lead">Helping you from zero to fully online.</p>
  </div>

  <%= render_partial("/walkthroughs/index.html", locals: { quickstart: true, basics: true, deployment: true }) %>
</section>

<% if config[:display_guides] %>
  <section class="bs-docs-section guide-container-frontpage" id="guides" class="guides-index">
    <div class="section-header">
      <h2>Guides</h2>
      <p class="lead">For mastering Passenger.</p>
    </div>


    <!-- Installation / Configuration and optimization -->

    <div class="row hidden-xs">
      <div class="col-sm-6">
        <h3 class="front-page-link-header">
          <a href="<%= url_for "/install/index.html" %>">
            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
            Installation, upgrade and uninstallation
          </a>
        </h3>
      </div>
      <div class="col-sm-6">
        <h3 class="front-page-link-header">
          <a href="<%= url_for "/config/index.html" %>">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Configuration and optimization
          </a>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3 class="front-page-link-header visible-xs">
          <a href="<%= url_for "/install/index.html" %>">
            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
            Installation, upgrade and uninstallation
          </a>
        </h3>

        <p class="guide-description">
          Everything related to secure installation, customization and removal, including automated upgrading and background info about integration with Nginx or Apache.
        </p>
      </div>

      <div class="col-sm-6">
        <h3 class="front-page-link-header visible-xs">
          <a href="<%= url_for "/config/index.html" %>">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Configuration and optimization
          </a>
        </h3>

        <p class="guide-description">
          Passenger configuration options and features explained, as well as tweaking guides for optimal performance for your specific situation and wishes.
        </p>
      </div>
    </div>


    <!-- Deployment and scaling / Administration and troubleshooting -->

    <div class="row hidden-xs">
      <div class="col-sm-6">
        <h3 class="front-page-link-header">
          <a href="<%= url_for "/deploy/index.html" %>">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Deployment, scaling and high availability
          </a>
        </h3>
      </div>
      <div class="col-sm-6">
        <h3 class="front-page-link-header">
          <a href="<%= url_for "/admin/index.html" %>">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Administration, debugging and troubleshooting
          </a>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3 class="front-page-link-header visible-xs">
          <a href="<%= url_for "/deploy/index.html" %>">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Deployment, scaling and high availability
          </a>
        </h3>

        <p class="guide-description">
          Deploying web apps to a server that has Passenger installed; scaling to multiple servers in order to handle more traffic and always be up & running.
        </p>
      </div>

      <div class="col-sm-6">
        <h3 class="front-page-link-header visible-xs">
          <a href="<%= url_for "/admin/index.html" %>">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Administration, debugging and troubleshooting
          </a>
        </h3>

        <p class="guide-description">
          Golden tips for troubleshooting problematic installs or applications; making the best of administrative tools and where to find more support resources.
        </p>
      </div>
    </div>


    <!-- In-depth -->

    <div class="row hidden-xs">
      <div class="col-sm-6">
        <h3 class="front-page-link-header">
          <a href="<%= url_for "/indepth/index.html" %>">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>In-depth
          </a>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3 class="front-page-link-header visible-xs">
          <a href="<%= url_for "/indepth/index.html" %>">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>In-depth
          </a>
        </h3>

        <p class="guide-description">
          Process spawning, server integration, security measures.
          Processes, environment variables, hooks.
        </p>
      </div>
    </div>
  </section>
<% end %>

<!--
TODO: find a place to put the following links:
/deploy/automating_app_updates/
/admin/troubleshooting/
-->