---
title: Phusion Passenger Docs
home: true
---

<% content_for :masthead do %>
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <h1 class="home-title">Phusion Passenger Docs</h1>
      <p class="lead">Easy, stable and powerful application server for Ruby, Python and Node.js. We've got you covered with world-class documentation.</p>
      <p class="version">Version <%= CURRENT_VERSION %> &middot; <a href="..">Switch version</a></p>
    </div>
  </div>

  <!--
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
    </div>
  </div>
  -->
<% end %>

<section class="bs-docs-section">
  <%= render_partial "/intro/_index.md" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/guides/_index.html" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/production/_index.html" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/admin/_index.html" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/reference/_index.html" %>
</section>
