---
multisection: true
---
<% content_for :masthead do %>
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <h1 class="home-title">
        <span class="home-title-brand">Phusion</span>
        <span class="home-title-name">Passenger Library</span>
      </h1>
      <p class="lead">Whether you're just starting or planning to scale, we've got you covered with world-class documentation.</p>
      <p class="lead"><a href="#site_intro" class="btn btn-outline-inverse btn-lg">Get started</a></p>
      <p class="version">Version <%= CURRENT_VERSION %> &middot; <a href="..">Switch version</a></p>
    </div>
  </div>

  <!--
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
    </div>
  </div>
  -->
<% end %>

<section id="site_intro" class="site-intro">
  <p class="home-welcome-message">
    Welcome to the Phusion Passenger Library, a comprehensive online resource about Ruby, Python and Node.js deployment, administration, scaling, high availability and more &mdash; through the use of the <a href="https://www.phusionpassenger.com">Phusion Passenger</a> application server. The entire library is <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">open source</a>. Think anything can be improved? Just <a href="https://github.com/phusion/passenger/tree/master/doc">edit the content on Github</a>.
  </p>
</section>

<section class="bs-docs-section">
  <h2>Walkthroughs</h2>
  
  <h3>Get started</h3>
  <p>
    Get to know Passenger through this short, easy-to-follow tutorial. Get something up and running in only 5 minutes.
  </p>
  <a href="<%= url_for '/walkthroughs/start/ruby.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/ruby.png' %>" width="48" height="48" alt="Ruby">
    <span class="btn-label">
      Ruby
    </span>
  </a>
  <a href="<%= url_for '/walkthroughs/start/python.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/python.png' %>" width="48" height="48" alt="Python">
    <span class="btn-label">
      Python
    </span>
  </a>
  <a href="<%= url_for '/walkthroughs/start/nodejs.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/nodejs.png' %>" width="89" height="48" alt="Node.js">
    <span class="btn-label">
      Node.js
    </span>
  </a>
  <a href="<%= url_for '/walkthroughs/start/iojs.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/iojs.png' %>" width="48" height="48" alt="io.js">
    <span class="btn-label">
      io.js
    </span>
  </a>
  <a href="<%= url_for '/walkthroughs/start/meteor.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/meteor.png' %>" width="89" height="48" alt="Meteor">
    <span class="btn-label">
      Meteor
    </span>
  </a>

  <h3 id="intro_walkthrough">Introduction</h3>
  <p>
    Learn more about what Passenger is, how it fits in the stack and what features it provides.
    Learn how Passenger helps you during development.
  </p>
  <a href="<%= url_for '/walkthroughs/intro/ruby/index.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/ruby.png' %>" width="48" height="48" alt="Ruby">
    <span class="btn-label">
      Introduction for<br>
      <strong>Ruby</strong> devs
    </span>
  </a>
  <a href="<%= url_for '/walkthroughs/intro/nodejs/index.html' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/nodejs.png' %>" width="89" height="48" alt="Node.js">
    <span class="btn-label">
      Introduction for<br>
      <strong>Node.js</strong>/<strong>io.js</strong> devs
    </span>
  </a>

  <h3 id="deploy_walkthrough">Deploy to production</h3>
  <p>
    Learn how to setup a server and how to deploy your app to production. We walk you through from the beginning to the end.
  </p>
  <a href="<%= url_for '/walkthroughs/deploy/ruby/' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/ruby.png' %>" width="48" height="48" alt="Ruby">
    <span class="btn-label">
      Walkthrough for<br>
      <strong>Ruby</strong> apps
    </span>
  </a>
  <a href="<%= url_for '/walkthroughs/deploy/nodejs/' %>" class="btn btn-guide btn-lg">
    <img src="<%= url_for '/images/nodejs.png' %>" width="89" height="48" alt="Node.js">
    <span class="btn-label">
      Walkthrough for<br>
      <strong>Node.js</strong>/<strong>io.js</strong> apps
    </span>
  </a>
</section>

<section class="bs-docs-section">
  <h2>Guides</h2>
  <p>
    Explore our general guides, which are of intermediate and advanced levels. They cover a wide range of topics.
  </p>
  <a href="<%= url_for '/guides/index.html' %>" class="btn btn-primary btn-lg">
    Read the general guides &raquo;
  </a>

  <h3 id="deploy_and_scaling">Deployment &amp; scaling</h3>
  <p>
    Learn about setting up servers, deploying Passenger to production, tweaking &amp; tuning and security.
    Even scaling and high availability are covered.
  </p>
  <a href="<%= url_for '/guides/production' %>" class="btn btn-primary btn-lg">
    Read deployment &amp; scaling guides &raquo;
  </a>

  <h3>Administration</h3>
  <p>Learn about performing common administration tasks, keeping your applications healthy and analyzing &amp; troubleshooting problems.</p>
  <a href="<%= url_for '/guides/admin' %>" class="btn btn-primary btn-lg">
    Read administration guides &raquo;
  </a>
</section>

<section class="bs-docs-section">
  <h2>Explore the full library</h2>
  <p>
    <a href="<%= url_for '/sitemap.html' %>" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
      <span class="btn-label">
        Sitemap
      </span>
    </a>

    <a href="<%= url_for '/reference' %>" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <span class="btn-label">
        Reference
      </span>
    </a>
  </p>
</section>

<div style="padding-top: 4em"></div><!-- Increase spacing to comments area -->
