---
title: 'Process management - Passenger + Python basics'
section: basics
subsection: process_management
sidebar: toc.html
---
<%
locals[:language_type] = :python
locals[:language_name] = "Python"
%>

# Process management

<p class="lead">Passenger manages multiple processes in order to maximize stability and performance. Learn how Passenger manages processes and learn about Passenger's process management tools.</p>

**Table of contents**

<ol class="toc-container"><li>Loading...</li></ol>

## Introduction

<%= render_partial("../shared/process_management/intro", locals: locals) %>

## Working with a single process

<%= render_partial("../shared/process_management/single_process", locals: locals) %>

## Working with multiple processes

### Seeing it in action

<%= render_partial("../shared/process_management/multi_process_in_action", locals: locals) %>

### Processes are supervised

<%= render_partial("../shared/process_management/supervision", locals: locals) %>

### Traffic is load balanced

<%= render_partial("../shared/process_management/load_balance", locals: locals) %>

### Processes are dynamically scaled

<%= render_partial("../shared/process_management/process_scaling", locals: locals) %>

## Next step

<%= render_partial("../shared/process_management/conclusion", locals: locals) %>

<a href="reloading_code.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
