---
section: install
---
<%
@page_title = "Passenger #{integration_mode_name_as_passenger_suffix} YUM repository (.rpm packages)"
content_for(:sidebar) { render_partial("../sidebar.html", locals: locals) }
%>

# Passenger <%= integration_mode_name_as_passenger_suffix %> YUM repository (.rpm packages)

We provide YUM/RPM repositories for installing Passenger on Red Hat Enterprise Linux and CentOS systems. There are separate repositories for the open source and Enterprise versions.

<% if integration_mode_type == :nginx %>
  If you use these packages to install Passenger then you do not need to run `passenger-install-nginx-module`. These packages contain all the binaries that you need, including a Passenger-enabled Nginx binary. These packages also come with SELinux policy modules so that Passenger works nicely with SELinux.
<% elsif integration_mode_type == :apache %>
  If you use these packages to install Passenger then you do not need to run `passenger-install-apache2-module`. These packages contain all the binaries that you need. These packages also come with SELinux policy modules so that Passenger works nicely with SELinux.
<% end %>

<div class="note">
  <h3 class="notoc">No Amazon Linux support</h3>
  <p>
    Our YUM repository may not be used with Amazon Linux. Amazon Linux is too different from RHEL and CentOS. If you are on Amazon Linux, you should use the <%= link_to "generic installation method through tarball or RubyGems", "/install/#{integration_mode_type}/install/index.html" %>.
  </p>
</div>

**Table of contents**

<ol class="toc-container"><li>Loading...</li></ol>

## Using the YUM repository

### Install latest Passenger <%= integration_mode_name_as_passenger_suffix %> from YUM

Please read the <%= link_to "installation guide", "/install/#{integration_mode_type}/install/index.html" %>. When asked to select an installation method, select <strong>"Red Hat, CentOS"</strong>.

### Upgrade an YUM-installed Passenger <%= integration_mode_name_as_passenger_suffix %>

Please read the <%= link_to "upgrade guide", "/install/#{integration_mode_type}/upgrade/index.html?a=redhat_centos" %>.

### Uninstall an YUM-installed Passenger <%= integration_mode_name_as_passenger_suffix %>

Please read the <%= link_to "uninstallation guide", "/install/#{integration_mode_type}/uninstall/index.html" %>.

## Background information and release policy

### Always up-to-date

Our packages are automatically built by our build server after we push out a source release, and thus are always up to date with the official source releases.

### Limited architectures

Packages are available for the x86 and x86_64 architectures only.

### Supported distribution versions

Our policy is to support all Red Hat and CentOS releases that still receive full updates by their vendors. The earliest Red Hat and CentOS version we support is version 6.
