---
title: Installing Passenger Enterprise
section: deploy_walkthrough
comments: false
deploy_walkthrough:
- :launch_server
- :installations
- :deploying_your_app
- :deploy_updates
---

<h1>Deployment: installations</h1>
<%= render_partial('/shared/current_selection') %>

<p>Before deploying your app you have to make sure that Node.js and Passenger Enterprise are installed.</p>

<h2>Did you already install Node?</h2>
<%= render_partial('/shared/yes_no_input', locals: {target:'/tutorials/deploy_to_production/shared/nodejs', language_type: :nodejs}) %>

<h2>Installing Passenger Enterprise + <%= render_partial('/shared/integration') %> on a <%= render_partial('/tutorials/deploy_to_production/shared/platform') %> production server</h2>

<p>
  Now it is time to install Passenger Enterprise. Please start by selecting the operating system that your server is running on, or an installation method that you prefer.
</p>

<% locals = {integration_mode_type: :nginx, edition_type: :enterprise, web_server_name: 'Nginx'} %>
<%= render_partial("/tutorials/deploy_to_production/shared/install", locals: locals) %>

<div id="next-step">
  <h2>Next step: Deploying your app</h2>
  <a class="dark-button" href="<%= url_for "/tutorials/deploy_to_production/deploying_your_app/index.html" %>">Continue</a>
</div>
